<!-- MAIN NAVIGATION -->
<nav class="qld__main-nav qld__main-nav--mega {{site.metadata.mainNavStyle.value}}" id="#mainmenu" aria-label="main">
    <div class="container-fluid">
        <div class="qld__main-nav__content {{#ifCond site.metadata.mainNavDesktopHide.value '==' 'yes'}}qld__main-nav__no-desktop{{/ifCond}}" id="main-nav">
            <div class="qld__main-nav__menu
            {{#ifCond site.metadata.sitePreHeaderTheme.value '==' 'qld__header__pre-header--dark'}}qld__main-nav__menu--dark{{/ifCond}}
            {{#ifCond site.metadata.sitePreHeaderTheme.value '==' 'qld__header__pre-header--dark-alt'}}qld__main-nav__menu--dark-alt{{/ifCond}}
            ">
                <div class="qld__main-nav__menu-inner">
                    <div class="qld__main-nav__focus-trap-top"></div>
                    <div class="qld__main-nav__header">
                        <h6 class="qld__main-nav__menu-heading">Menu</h6>
                        <button
                            aria-controls="main-nav"
                            class="qld__main-nav__toggle qld__main-nav__toggle--close"
                        >
                            <svg aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" class="qld__icon qld__icon--md "><use href="{{@root.site.metadata.siteDefaultIcons.value}}#qld__icon__close"></use></svg>
                            <span class="qld__main-nav__toggle-text">Close</span>
                        </button>
                    </div>
                    <ul class="qld__link-list">
                        {{#if site.metadata.mainNavHomeIconShow.value}}
                        <li class="qld__main-nav__item {{#if current.home}}active{{/if}}">
                            <div class="qld__main-nav__item-title">
                                <a class="qld__main-nav__item-home qld__main-nav__item-link" {{#if current.home}}aria-current="page"{{/if}} href="./?a={{site.data.assetid}}">
                                    <span class="qld__main-nav__item-icon">
                                        <svg aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" class="qld__icon qld__icon--md "><use href="{{@root.site.metadata.siteDefaultIcons.value}}#qld__icon__home"></use></svg>
                                    </span>
                                    
                                    <span class="qld__main-nav__item-text" data-name="{{asset_short_name}}">Home</span>
                                </a>
                            </div>

                        </li>
                        {{/if}}
                        {{#each site.children}} 
                            <li class="qld__main-nav__item {{#ifCond asset_assetid '==' ../current.data.assetid}}active{{/ifCond}} {{#ifCond asset_assetid '==' ../current.top.asset_assetid}}active{{/ifCond}}">
                                <div class="qld__main-nav__item-title">
                                    {{#ifCond ../site.metadata.mainNavMegaMenuShow.value '!=' 'true'}} 
                                        <a {{#ifCond asset_assetid '==' ../current.data.assetid}}aria-current="page"{{/ifCond}} href="./?a={{asset_assetid}}" data-name="{{asset_short_name}}" class="qld__main-nav__item-link">{{asset_short_name}}</a>
                                    {{/ifCond}}
                                    {{#ifCond ../site.metadata.mainNavMegaMenuShow.value '==' 'true'}}

                                        <a class="qld__main-nav__item-link {{#arrayWith children 'asset_metadata_showInMegaNav' 'true'}}{{#if this}} qld__main-nav__item-link--desktop-hide{{/if}}{{/arrayWith}}"
                                            {{#ifCond asset_assetid '==' ../current.data.assetid}}aria-current="page"{{/ifCond}} href="./?a={{asset_assetid}}">{{asset_short_name}}</a>
                                            {{#arrayWith children 'asset_metadata_showInMegaNav' 'true'}}
                                                {{#if this}}
                                                    <button class="qld__main-nav__item-toggle qld__accordion--closed" aria-controls="mega-nav-{{../this.asset_assetid}}" aria-expanded="false" aria-selected="false" aria-label="Toggle navigation, {{../asset_short_name}}"  ><span class="qld__main-nav__item-toggle-text" data-name="{{../asset_short_name}}">{{../asset_short_name}}</span>
                                                    <svg class="qld__icon qld__icon--md"><use href="{{@root.site.metadata.siteDefaultIcons.value}}#qld__icon__chevron-up"></use></svg>
                                                    </button>
                                                {{/if}}
                                        {{/arrayWith}}

                                    {{/ifCond}}
                                </div>
                                {{#ifCond ../site.metadata.mainNavMegaMenuShow.value '==' 'true'}}
                                    {{#arrayWith children 'asset_metadata_showInMegaNav' 'true'}}
                                        {{#if this}}
                                            <div class="qld__main-nav__menu-sub qld__accordion--closed qld__accordion__body" id="mega-nav-{{../this.asset_assetid}}" style="display: none;">
                                                <div class="qld__main-nav__menu-sub-inner">
                                                    <div class="qld__main-nav__sub-head">
                                                        <a class="qld__main-nav__sub-heading " href="./?a={{../this.asset_assetid}}">
                                                            <span class="qld__main-nav__sub-item-text qld__display-lg">{{../this.asset_name}}</span>
                                                            <svg class="qld__icon qld__icon--lg"><use href="{{@root.site.metadata.siteDefaultIcons.value}}#qld__icon__arrow-right"></use></svg>
                                                        </a>
                                                        {{#ifCond @root.site.metadata.mainNavPageDescLevelOne.value '==' 'true'}}
                                                            {{#if ../this.asset_metadata_shortDescription}}
                                                                <p class="qld__main-nav__item-desc">{{../this.asset_metadata_shortDescription}}</p>
                                                            {{/if}}
                                                        {{/ifCond}}
                                                    </div>
                                                    
                                                    <hr class="qld__horizontal-rule qld__horizontal-rule--lg">
                                                    {{!-- <ul class="qld__link-list"> --}}
                                                        <ul class="qld__link-columns qld__link-columns--3-col qld__link-list">
                                                        {{#each this}}                                                   
                                                            {{#ifCond asset_assetid '!=' @root.current.data.assetid}}
                                                            <li class="{{#ifCond @root.site.metadata.mainNavPageDescLevelTwo.value '==' 'true'}}{{#if asset_metadata_shortDescription}}qld__main-nav__item--has-desc{{/if}}{{/ifCond}}">
                                                                
                                                                
                                                                
                                                                <a href="{{asset_url}}">
                                                                    <span class="qld__main-nav__sub-item-text">{{asset_short_name}}</span>
                                                                    
                                                                </a>
                                                            {{/ifCond}}
                                                            {{#ifCond asset_assetid '==' @root.current.data.assetid}}
                                                            <li class="active {{#ifCond @root.site.metadata.mainNavPageDescLevelTwo.value '==' 'true'}}qld__main-nav__item--has-desc{{#if ../this.asset_metadata_shortDescription}}{{/if}}{{/ifCond}}">
                                                                <span {{#ifCond asset_assetid '==' @root.data.assetid}}aria-current="page"{{/ifCond}} class="qld__main-nav__sub-item-text">{{asset_short_name}}</span>
                                                            {{/ifCond}}
                                                            {{#ifCond @root.site.metadata.mainNavPageDescLevelTwo.value '==' 'true'}}
                                                                {{#if asset_metadata_shortDescription}}
                                                                    <p class="qld__main-nav__item-desc">{{asset_metadata_shortDescription}}</p>
                                                                {{/if}}
                                                            {{/ifCond}}
                                                            </li>
                                                        {{/each}}
                                                    </ul>
                                                    {{#ifCond @root.site.metadata.mainNavViewAllShow.value '==' 'true'}}
                                                        <div class="qld__main-nav__sub-footer">
                                                            <hr class="qld__horizontal-rule qld__horizontal-rule--lg">
                                                            <a class="qld__cta-link qld__cta-link--view-all" href="./?a={{../this.asset_assetid}}">View all</a>
                                                         </div>
                                                    {{/ifCond}}
                                                </div>
                                            </div>
                                        {{/if}}
                                    {{/arrayWith}}
                                {{/ifCond}}
                            </li>
                        {{/each}}
                    </ul>
                    {{#ifCond site.metadata.mainNavCtaOne.value '||' site.metadata.mainNavCtaTwo.value}}
                    <div class="qld__main-nav__cta-wrapper">
                        <ul class="qld__link-list">
                        {{#if site.metadata.mainNavCtaOne.value}}
                            <li class="qld__main-nav__item qld__main-nav__item--cta {{#ifCond site.metadata.mainNavCtaOne.value '==' ../current.data.assetid}}active{{/ifCond}}">
                                <div class="qld__main-nav__item-title">
                                    <a class="qld__main-nav__item-link" {{#ifCond site.metadata.mainNavCtaOne.value '==' ../current.data.assetid}}aria-current="page"{{/ifCond}} href="./?a={{site.metadata.mainNavCtaOne.value}}" >
                                        {{#if site.metadata.mainNavCtaOneIcon.value}}
                                        <span class="qld__main-nav__item-icon">
                                            <i class="{{site.metadata.mainNavCtaOneIcon.value}}"></i>
                                        </span>
                                        {{/if}}
                                        <span class="qld__main-nav__item-text" data-name="{{site.metadata.mainNavCtaOneText.value}}">{{{site.metadata.mainNavCtaOneText.value}}}</span>
                                    </a>
                                </div>
                            </li>
                            {{/if}}
                            {{#if site.metadata.mainNavCtaTwo.value}}
                            <li class="qld__main-nav__item qld__main-nav__item--cta {{#ifCond site.metadata.mainNavCtaTwo.value '==' ../current.data.assetid}}active{{/ifCond}}">
                                <div class="qld__main-nav__item-title">
                                    <a class="qld__main-nav__item-link" {{#ifCond site.metadata.mainNavCtaTwo.value '==' ../current.data.assetid}}aria-current="page"{{/ifCond}} href="./?a={{site.metadata.mainNavCtaTwo.value}}" >
                                        {{#if site.metadata.mainNavCtaTwoIcon.value}}
                                        <span class="qld__main-nav__item-icon">
                                            <i class="{{site.metadata.mainNavCtaTwoIcon.value}}"></i>
                                        </span>
                                        {{/if}}
                                        <span class="qld__main-nav__item-text" data-name="{{site.metadata.mainNavCtaTwoText.value}}">{{{site.metadata.mainNavCtaTwoText.value}}}</span>
                                    </a>
                                </div>
                            </li>
                        {{/if}}
                        </ul>
                    </div>
                    {{/ifCond}}
                    <div class="qld__main-nav__focus-trap-bottom"></div>
                </div>
            </div>
            <div
                class="qld__main-nav__overlay"
                aria-controls="main-nav"
            ></div>
        </div>
    </div>
</nav>
<!-- MAIN NAVIGATION END -->
