<!--@@ Banner @@-->
<section class="qld__banner qld__banner--search
        {{#ifCond site.metadata.defaultBannerColour.value '==' 'alternate'}}qld__banner--alt{{/ifCond}} 
        {{#ifCond site.metadata.defaultBannerColour.value '==' 'dark'}}qld__banner--dark{{/ifCond}} 
        {{#ifCond site.metadata.defaultBannerColour.value '==' 'dark-alternate'}}qld__banner--dark-alt{{/ifCond}} 
        
        {{#ifCond current.data.metadata.displayBreadcrumbs.value '==' 'true'}}qld__banner--breadcrumbs{{/ifCond}}"
        
        {{#ifCond site.metadata.defaultBannerType.value '==' 'texture'}}
        style="background-image: url(./?a={{site.metadata.defaultBannerTexture.value}});"
        {{/ifCond}}
>
    <!--@@ Breadcrumbs - Mobile @@-->
    {{#ifCond current.data.metadata.displayBreadcrumbs.value  '==' 'true'}}
    <nav class="qld__breadcrumbs
    {{#ifCond site.metadata.defaultBannerColour.value '==' 'alternate'}}qld__breadcrumbs--alt{{/ifCond}}

        {{#ifCond site.metadata.defaultBannerColour.value '==' 'dark'}}qld__breadcrumbs--dark{{/ifCond}}

        {{#ifCond site.metadata.defaultBannerColour.value '==' 'dark-alternate'}}qld__breadcrumbs--dark-alt{{/ifCond}}
        
        qld__banner__breadcrumbs qld__banner__breadcrumbs--mobile" aria-label="breadcrumb"> 
        <ul class="qld__link-list qld__link-list--inline">
            {{#with (itemAt current.lineage -2)}}
                {{#ifCond asset_type_code '!=' 'folder'}} 
                    <li>
                        <a href="{{asset_url}}">{{#ifCond asset_is_site_asset '==' '1'}}Home{{else}}{{asset_short_name}}{{/ifCond}}</a>    
                    </li>
                {{/ifCond}}
            {{/with}}
        </ul>
    </nav>
    {{/ifCond}}

    <div class="container-fluid">
        <div class="qld__banner__wrapper">
            
            <div class="qld__banner__main row">              
                
                <div class="qld__banner__content col-xs-12 col-md-12 col-lg-4">
        
                    <!--@@ Breadcrumbs - Desktop @@-->
                    {{#ifCond current.data.metadata.displayBreadcrumbs.value '==' 'true'}}
                        <nav class="qld__breadcrumbs 
                        {{#ifCond site.metadata.defaultBannerColour.value '==' 'dark'}}qld__breadcrumbs--dark{{/ifCond}} 
                        {{#ifCond site.metadata.defaultBannerColour.value '==' 'dark-alternate'}}qld__breadcrumbs--dark{{/ifCond}} 
                        qld__banner__breadcrumbs qld__banner__breadcrumbs--desktop" aria-label="breadcrumb">
                            <ul class="qld__link-list qld__link-list--inline">
                                {{#each current.lineage}}   
                                {{#ifCond asset_type_code '!=' 'folder'}}      
                                    <li {{#if @last}}aria-current="page"{{/if}}>
                                        {{#if @last}}
                                            {{asset_short_name}}
                                        {{else}}
                                        <a href="{{asset_url}}">{{#if @first}}Home{{else}}{{asset_short_name}}{{/if}}</a>    
                                        {{/if}}
                                    </li>
                                {{/ifCond}}
                                {{/each}}
                            </ul>
                        </nav>
                    {{/ifCond}}

                    <!--@@ Heading(s) @@-->
                    <h1>Search Results</h1>

                    <!--@@ Abstract @@-->
                    {{#if metadata.abstract.value}}
                        <div class="qld__banner__content--body">{{{metadata.abstract.value}}}</div>
                    {{/if}}
                    
                </div>
                <div class="qld__banner__search col-xs-12 col-md-12 col-lg-8">
                    <div class="qld__search-form--wrapper">
                        <form role="search" aria-label="sitewide" class="qld__search-form" id="search-form-global-basic" action="{{site.metadata.siteSearchUrl.value}}">
                            <div class="qld__search-form__inner">
                                <input type="search" id="search-input-global-basic-query" name="query" class="qld__text-input data-hj-allow" aria-expanded="false" autocomplete="off" value="{{#ifCond resultsPage.question.query '!==' '!padrenull'}}{{resultsPage.question.query}}{{/ifCond}}">
                                <div class="qld__search-form__btn">
                                    <button class="qld__btn qld__btn--search" type="submit" aria-label="Search">
                                        <span class="qld__btn__icon"></span>
                                        <span class="qld__btn__text">Search</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="qld__body qld__search"> 
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="qld__search__info">
                    <div class="qld__search__info-query">
                        <h2 class="qld__display-lg">Results{{#ifCond resultsPage.question.query '!==' '!padrenull'}} for </span><span class="qld__search__info-query-term">‘{{resultsPage.question.query}}’{{/ifCond}}</h2>
                    </div>
                    <div class="qld__search__info-inner">
                        <div class="qld__search__info-summary">
                            <span class="qld__search__info-summary-text">Showing:</span> 
                            <span class="qld__search__info-summary-start-end">{{resultsPage.resultsSummary.currStart}} - {{resultsPage.resultsSummary.currEnd}} of</span>
                            <span class="qld__search__info-summary-matching">{{resultsPage.resultsSummary.totalMatching}} results</span>
                            
                        </div>

                        <div class="qld__search__sort">
                            <div class="qld__search__sort-text">Sort by:</div>
                            <label for="sort" class="sr-only">Sort</label>
                            <select id="search-sort" class="qld__select" name="sort" aria-label="sort">
                                <option value="" selected="">Relevance</option>
                                <option value="title">A-Z</option>   
                                <option value="dtitle">Z-A</option>   
                                <option value="date">Newest</option>   
                                <option value="adate">Oldest</option>
                            </select>                    
                        </div>
                    </div>
                </div>
                <div class="qld__search__results">
                    {{#if resultsPage.results}}
                    <ol class="qld__link-list qld__search__results-list">
                        {{#each resultsPage.results}}
                        <li class="qld__search__result">
                            <div class="qld__search__result-inner">
                                <div class="qld__search__result-header">
                                    {{#ifCond collection 'contains' 'service-finder'}}
                                        {{#ifCond collection 'contains' '__service-locations'}}
                                            <h3 class="qld__display-md">
                                                <a href="{{@root.site.metadata.sfHomeUrl.value}}/{{metaData.servicewebpath}}">
                                                    Healthcare services | {{{title}}}
                                                </a>
                                            </h3>
                                        {{else ifCond collection 'contains' '__facilities'}}
                                            <h3 class="qld__display-md">
                                                <a href="{{@root.site.metadata.sfFacilitiesUrl.value}}/{{metaData.webpath}}">
                                                    Healthcare services | {{{title}}}
                                                </a>
                                            </h3>
                                        {{else}} 
                                            <h3 class="qld__display-md">
                                                <a href="{{@root.site.metadata.sfHomeUrl.value}}/{{metaData.webpath}}">
                                                    Healthcare services | {{{title}}}
                                                </a>
                                            </h3>
                                        {{/ifCond}}
                                    {{else}}
                                        <h3 class="qld__display-md">    
                                            <a href="{{liveUrl}}">
                                                {{#ifCond liveUrl 'contains' '?tag='}}
                                                    {{replace title '\|.*' ''}} | Topic | {{#with (split liveUrl '?tag=') as | tagUrl | }}{{#replaceMany "%27" "'"}} {{#replaceMany "_" " "}}{{capitaliseFirst tagUrl.[1]}}{{/replaceMany}} {{/replaceMany}}{{/with}}
                                                {{else ifCond fileType '==' 'pdf'}}
                                                    {{replace metaData.fileName '\|.*' ''}}
                                                {{else}}
                                                    {{replace title '\|.*' ''}}
                                                {{/ifCond}}
                                            </a>
                                        </h3>
                                    {{/ifCond}}
                                    {{#if metaData.assetLineage}}
                                    <div class="qld__breadcrumbs qld__search__result-breadcrumbs" aria-label="breadcrumb">
                                        <ul class="qld__link-list qld__link-list--inline">
                                            {{#each (split metaData.assetLineage "+")}}
                                                <li>{{this}}</li>
                                            {{/each}}       
                                        </ul>
                                    </div>
                                    {{/if}}
                                    {{#ifCond collection 'contains' '__service-locations'}}
                                    <div class="qld__breadcrumbs qld__search__result-breadcrumbs" aria-label="breadcrumb">
                                        <ul class="qld__link-list qld__link-list--inline">
                                            <li>Services</li>
                                            <li>{{itemAt (split title '-') '0' }}</li>
                                            <li>{{{title}}}</li>
                                        </ul>
                                    </div>
                                    {{/ifCond}}
                                    {{#ifCond collection 'contains' '__facilities'}}
                                    <div class="qld__breadcrumbs qld__search__result-breadcrumbs" aria-label="breadcrumb">
                                        <ul class="qld__link-list qld__link-list--inline">
                                            <li>Services</li>
                                            <li>Locations</li>
                                            <li>{{{title}}}</li>
                                        </ul>
                                    </div>
                                    {{/ifCond}}
                                    {{#ifCond collection 'contains' '__services'}}
                                    <div class="qld__breadcrumbs qld__search__result-breadcrumbs" aria-label="breadcrumb">
                                        <ul class="qld__link-list qld__link-list--inline">
                                            <li>Services</li>
                                            <li>{{{title}}}</li>
                                        </ul>
                                    </div>
                                    {{/ifCond}}
                                </div> 
                                <div class="qld__search__result-type">
                                {{#if metaData.articleType}}
                                    {{#ifCond metaData.articleType '==' 'news'}}
                                        <span class="qld__search__result-type-name">
                                            <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.5 0H4.5C3.65625 0 3 0.6875 3 1.5V12C3 12.5625 2.53125 13 2 13C1.4375 13 1 12.5625 1 12V2.5C1 2.25 0.75 2 0.5 2C0.21875 2 0 2.25 0 2.5V12C0 13.125 0.875 14 2 14H13.5C14.875 14 16 12.9062 16 11.5V1.5C16 0.6875 15.3125 0 14.5 0ZM15 11.5C15 12.3438 14.3125 13 13.5 13H3.71875C3.875 12.7188 4 12.375 4 12V1.5C4 1.25 4.21875 1 4.5 1H14.5C14.75 1 15 1.25 15 1.5V11.5ZM8.5 8.5H5.5C5.21875 8.5 5 8.75 5 9C5 9.28125 5.21875 9.5 5.5 9.5H8.5C8.75 9.5 9 9.28125 9 9C9 8.75 8.75 8.5 8.5 8.5ZM13.5 8.5H10.5C10.2188 8.5 10 8.75 10 9C10 9.28125 10.2188 9.5 10.5 9.5H13.5C13.75 9.5 14 9.28125 14 9C14 8.75 13.75 8.5 13.5 8.5ZM8.5 10.5H5.5C5.21875 10.5 5 10.75 5 11C5 11.2812 5.21875 11.5 5.5 11.5H8.5C8.75 11.5 9 11.2812 9 11C9 10.75 8.75 10.5 8.5 10.5ZM13.5 10.5H10.5C10.2188 10.5 10 10.75 10 11C10 11.2812 10.2188 11.5 10.5 11.5H13.5C13.75 11.5 14 11.2812 14 11C14 10.75 13.75 10.5 13.5 10.5ZM13 2H6C5.4375 2 5 2.46875 5 3V6C5 6.5625 5.4375 7 6 7H13C13.5312 7 14 6.5625 14 6V3C14 2.46875 13.5312 2 13 2ZM13 6H6V3H13V6Z" fill="#008635"/></svg>
                                            News
                                        </span>
                                        {{/ifCond}}
                                    {{#ifCond metaData.articleType '==' 'feature-article'}}
                                        <span class="qld__search__result-type-name">
                                            <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18 0.5V13.5C18 13.7812 17.75 14 17.5 14C17.2188 14 17 13.7812 17 13.5V13.1562L10.9062 11.625C10.625 13 9.4375 14 8 14C6.3125 14 5 12.6562 5 11C5 10.7188 5.03125 10.4375 5.09375 10.1875L1 9.15625V9.5C1 9.78125 0.75 10 0.5 10C0.21875 10 0 9.78125 0 9.5V4.5C0 4.25 0.21875 4 0.5 4C0.75 4 1 4.25 1 4.5V4.875L17 0.875V0.5C17 0.25 17.2188 0 17.5 0C17.75 0 18 0.25 18 0.5ZM17 12.125V1.90625L1 5.90625V8.125L17 12.125ZM8 13C8.96875 13 9.78125 12.3125 9.9375 11.4062L6.0625 10.4375C6 10.625 6 10.8125 6 11C6 12.125 6.875 13 8 13Z" fill="#008635"/></svg>
                                            Feature Article
                                        </span>
                                        {{/ifCond}}
                                    {{#ifCond metaData.articleType '==' 'podcast-series'}}
                                        <span class="qld__search__result-type-name">
                                            <svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7 9.75C5.96875 9.75 5 10.0312 5 11.125C5 12.1562 5.375 14.4062 5.625 15.2812C5.78125 15.875 6.40625 16 7 16C7.5625 16 8.1875 15.875 8.34375 15.2812C8.59375 14.375 9 12.1562 9 11.125C9 10.0312 8 9.75 7 9.75ZM7.40625 14.9688C7.21875 15.0312 6.78125 15.0312 6.59375 14.9688C6.34375 14.0625 6 12 6 11.125C6 10.625 8 10.625 8 11.125C8 12 7.625 14.0625 7.40625 14.9688ZM7 5C5.875 5 5 5.90625 5 7C5 8.125 5.875 9 7 9C8.09375 9 9 8.125 9 7C9 5.90625 8.09375 5 7 5ZM7 8C6.4375 8 6 7.5625 6 7C6 6.46875 6.4375 6 7 6C7.53125 6 8 6.46875 8 7C8 7.5625 7.53125 8 7 8ZM7 0C3.125 0 0 3.15625 0 7C0 9.1875 0.96875 11.1875 2.6875 12.5312C2.90625 12.7188 3.21875 12.6562 3.375 12.4375C3.5625 12.2188 3.5 11.9062 3.28125 11.75C1.8125 10.5938 1 8.875 1 7C1 3.71875 3.6875 1 7 1C10.2812 1 13 3.71875 13 7C13 8.875 12.1562 10.5938 10.6875 11.75C10.4688 11.9062 10.4062 12.2188 10.5938 12.4375C10.6875 12.5625 10.8438 12.625 11 12.625C11.0938 12.625 11.1875 12.5625 11.2812 12.5C13 11.1875 14 9.1875 14 7C14 3.15625 10.8438 0 7 0ZM11.5 7C11.5 4.53125 9.46875 2.5 7 2.5C4.5 2.5 2.5 4.53125 2.5 7C2.5 7.8125 2.6875 8.59375 3.09375 9.28125C3.21875 9.5 3.53125 9.59375 3.78125 9.4375C4 9.3125 4.09375 9 3.9375 8.75C3.65625 8.25 3.5 7.625 3.5 7C3.5 5.09375 5.0625 3.5 7 3.5C8.90625 3.5 10.5 5.09375 10.5 7C10.5 7.625 10.3125 8.25 10.0312 8.75C9.875 9 9.96875 9.3125 10.1875 9.4375C10.2812 9.5 10.375 9.5 10.4375 9.5C10.625 9.5 10.7812 9.4375 10.875 9.28125C11.2812 8.59375 11.5 7.8125 11.5 7Z" fill="#008635"/></svg>
                                            Podcast
                                        </span>
                                    {{/ifCond}}
                                    {{!-- <span class="qld__tag qld__tag--info">Read Time Here</span> --}}
                                {{/if}}
                                {{#if fileType}}
                                    {{#ifCond fileType '==' 'pdf'}}
                                        <span class="qld__search__result-type-name">
                                            <svg width="12" height="16" viewBox="0 0 12 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 14C12 15.125 11.0938 16 10 16H2C0.875 16 0 15.125 0 14H1C1 14.5625 1.4375 15 2 15H10C10.5312 15 11 14.5625 11 14H12ZM7.5 6C6.65625 6 6 5.34375 6 4.5V1H2C1.4375 1 1 1.46875 1 2V7H0V2C0 0.90625 0.875 0 2 0H6.875C7.25 0 7.65625 0.1875 7.9375 0.46875L11.5312 4.0625C11.8125 4.34375 12 4.75 12 5.125V7H11V6H7.5ZM10.8438 4.78125L7.21875 1.15625C7.15625 1.09375 7.0625 1.0625 7 1.03125V4.5C7 4.78125 7.21875 5 7.5 5H10.9688C10.9375 4.9375 10.9062 4.84375 10.8438 4.78125ZM2.75 8C3.6875 8 4.5 8.8125 4.5 9.75C4.5 10.7188 3.6875 11.5 2.75 11.5H2.5V12.5C2.5 12.7812 2.25 13 2 13C1.71875 13 1.5 12.7812 1.5 12.5V8.5C1.5 8.25 1.71875 8 2 8H2.75ZM3.5 9.75C3.5 9.34375 3.15625 9 2.75 9H2.5V10.5H2.75C3.15625 10.5 3.5 10.1875 3.5 9.75ZM5 8.5C5 8.25 5.21875 8 5.5 8H6.25C7.0625 8 7.75 8.6875 7.75 9.5V11.5C7.75 12.3438 7.0625 13 6.25 13H5.5C5.21875 13 5 12.7812 5 12.5V8.5ZM6 12H6.25C6.5 12 6.75 11.7812 6.75 11.5V9.5C6.75 9.25 6.5 9 6.25 9H6V12ZM10.5 8C10.75 8 11 8.25 11 8.5C11 8.78125 10.75 9 10.5 9H9.5V10H10.5C10.75 10 11 10.25 11 10.5C11 10.7812 10.75 11 10.5 11H9.5V12.5C9.5 12.7812 9.25 13 9 13C8.71875 13 8.5 12.7812 8.5 12.5V8.5C8.5 8.25 8.71875 8 9 8H10.5Z" fill="#008635"/></svg>
                                            Document
                                        </span>
                                        <span class="qld__tag qld__tag--info">{{toUpperCase fileType}} {{sizeFormat fileSize}}</span>
                                    {{/ifCond}}      
                                    {{#ifCond fileType '==' 'docx'}}
                                            <span class="qld__search__result-type-name">
                                            <svg width="12" height="16" viewBox="0 0 12 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.53125 7.84375L4.15625 11.2812L3.46875 7.90625C3.40625 7.65625 3.15625 7.46875 2.875 7.53125C2.625 7.5625 2.4375 7.84375 2.5 8.125L3.5 13.125C3.53125 13.3438 3.71875 13.5 3.9375 13.5C4.15625 13.5312 4.375 13.4062 4.4375 13.1875L6 9.375L7.53125 13.1875C7.59375 13.4062 7.78125 13.5 8 13.5C8 13.5 8 13.5 8.03125 13.5C8.25 13.5 8.4375 13.3438 8.46875 13.125L9.46875 8.125C9.53125 7.84375 9.34375 7.59375 9.09375 7.53125C8.8125 7.46875 8.5625 7.65625 8.5 7.90625L7.8125 11.2812L6.4375 7.84375C6.28125 7.4375 5.6875 7.4375 5.53125 7.84375ZM11.4062 3.9375L8.0625 0.59375C7.6875 0.21875 7.1875 0 6.65625 0H2C0.875 0 0 0.90625 0 2V14C0 15.125 0.875 16 2 16H10C11.0938 16 12 15.125 12 14V5.34375C12 4.8125 11.7812 4.3125 11.4062 3.9375ZM7 1.09375C7.125 1.125 7.25 1.1875 7.375 1.3125L10.6875 4.625C10.8125 4.75 10.875 4.875 10.9062 5H7.5C7.21875 5 7 4.78125 7 4.5V1.09375ZM11 14C11 14.5625 10.5312 15 10 15H2C1.4375 15 1 14.5625 1 14V2C1 1.46875 1.4375 1 2 1H6V4.5C6 5.34375 6.65625 6 7.5 6H11V14Z" fill="#008635"/></svg>
                                            Document
                                        </span>
                                        <span class="qld__tag qld__tag--info">{{toUpperCase fileType}} {{sizeFormat fileSize}}</span>
                                    {{/ifCond}} 
                                    {{#ifCond fileType '==' 'xls'}}
                                        <span class="qld__search__result-type-name">
                                            <svg width="12" height="16" viewBox="0 0 12 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.4062 3.9375L8.0625 0.59375C7.6875 0.21875 7.1875 0 6.65625 0H2C0.875 0 0 0.90625 0 2V14C0 15.125 0.875 16 2 16H10C11.0938 16 12 15.125 12 14V5.34375C12 4.8125 11.7812 4.3125 11.4062 3.9375ZM7 1.09375C7.125 1.125 7.25 1.1875 7.375 1.3125L10.6875 4.625C10.8125 4.75 10.875 4.875 10.9062 5H7.5C7.21875 5 7 4.78125 7 4.5V1.09375ZM11 14C11 14.5625 10.5312 15 10 15H2C1.4375 15 1 14.5625 1 14V2C1 1.46875 1.4375 1 2 1H6V4.5C6 5.34375 6.65625 6 7.5 6H11V14ZM2 8V13C2 13.5625 2.4375 14 3 14H9C9.53125 14 10 13.5625 10 13V8C10 7.46875 9.53125 7 9 7H3C2.4375 7 2 7.46875 2 8ZM4 13H3V12H4V13ZM4 11H3V10H4V11ZM7 13H5V12H7V13ZM7 11H5V10H7V11ZM9 13H8V12H9V13ZM9 11H8V10H9V11ZM9 9H3V8H9V9Z" fill="#008635"/></svg>
                                            Document
                                        </span>
                                        <span class="qld__tag qld__tag--info">{{toUpperCase fileType}} {{sizeFormat fileSize}}</span>
                                    {{/ifCond}}          
                                {{/if}}
                                {{#ifCond collection 'contains' 'service-finder'}}
                                    {{#ifCond collection 'contains' '__facilities'}}
                                        <span class="qld__search__result-type-name">
                                            <svg width="20" height="20" viewBox="0 0 20 20" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><path d="M2.268,9.158l-1.423,1.252c-0.21,0.185 -0.531,0.165 -0.716,-0.046c-0.186,-0.21 -0.165,-0.531 0.045,-0.716l9.507,-8.37c0.192,-0.169 0.48,-0.169 0.672,0l9.472,8.365c0.21,0.185 0.23,0.506 0.045,0.716c-0.186,0.21 -0.507,0.23 -0.717,0.045l-1.385,-1.223l-0,6.984c-0,1.502 -1.22,2.721 -2.721,2.721c-0,-0 -10.058,-0 -10.058,-0c-1.502,-0 -2.721,-1.219 -2.721,-2.721l-0,-7.007Zm1.014,-0.893l6.734,-5.929l6.737,5.949l-0,3.144l-0.001,-0l0,4.736c0,0.941 -0.764,1.705 -1.705,1.705l-10.058,0c-0.941,0 -1.706,-0.764 -1.706,-1.705l0,-4.736l-0.001,-0l-0,-3.164Z" style="fill:#008635;"/><path d="M8.107,9.236l-1.54,-0c-0.52,-0 -0.942,0.422 -0.942,0.942l-0,1.906c-0,0.52 0.422,0.943 0.942,0.943c0,-0 1.54,-0 1.54,-0c0,-0 0,1.545 0,1.545c0,0.521 0.423,0.943 0.943,0.943c-0,-0 1.905,-0 1.905,-0c0.521,-0 0.943,-0.422 0.943,-0.943c-0,0 -0,-1.545 -0,-1.545c-0,-0 1.592,-0 1.592,-0c0.52,-0 0.943,-0.423 0.943,-0.943c-0,0 -0,-1.906 -0,-1.906c-0,-0.52 -0.423,-0.942 -0.943,-0.942c0,-0 -1.592,-0 -1.592,-0c-0,-0 -0,-1.587 -0,-1.587c-0,-0.52 -0.422,-0.943 -0.943,-0.943c0,0 -1.905,0 -1.905,0c-0.52,0 -0.943,0.423 -0.943,0.943l0,1.587Zm2.775,-1.514l-1.759,-0l-0,2.529l-2.483,0l0,1.76l2.483,0l-0,2.488l1.759,0l0,-2.488l2.535,0l0,-1.76l-2.535,0l0,-2.529Z" style="fill:#008635;"/></svg>
                                            Hospital
                                        </span>
                                    {{else}}
                                        <span class="qld__search__result-type-name">
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="mask0_2774_246598" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="2" y="3" width="16" height="13"><path d="M16.125 3.625H3.875C2.89062 3.625 2.125 4.41797 2.125 5.375V14.125C2.125 15.1094 2.89062 15.875 3.875 15.875H16.125C17.082 15.875 17.875 15.1094 17.875 14.125V5.375C17.875 4.41797 17.082 3.625 16.125 3.625ZM4.75 15H3.875C3.38281 15 3 14.6172 3 14.125V5.375C3 4.91016 3.38281 4.5 3.875 4.5H4.75V15ZM14.375 15H5.625V4.5H14.375V15ZM17 14.125C17 14.6172 16.5898 15 16.125 15H15.25V4.5H16.125C16.5898 4.5 17 4.91016 17 5.375V14.125ZM7.8125 10.625H9.125V11.9375C9.125 12.1836 9.31641 12.375 9.5625 12.375H10.4375C10.6562 12.375 10.875 12.1836 10.875 11.9375V10.625H12.1875C12.4062 10.625 12.625 10.4336 12.625 10.1875V9.3125C12.625 9.09375 12.4062 8.875 12.1875 8.875H10.875V7.5625C10.875 7.34375 10.6562 7.125 10.4375 7.125H9.5625C9.31641 7.125 9.125 7.34375 9.125 7.5625V8.875H7.8125C7.56641 8.875 7.375 9.09375 7.375 9.3125V10.1875C7.375 10.4336 7.56641 10.625 7.8125 10.625Z" fill="black"/></mask><g mask="url(#mask0_2774_246598)"><rect width="20" height="20" fill="#008635"/></g></svg>
                                            Health Service
                                        </span>
                                    {{/ifCond}}
                                {{/ifCond}}
                                {{#if metaData.format}}
                                    {{#ifCond metaData.format 'contains' 'video'}}
                                        <span class="qld__search__result-type-name">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" aria-hidden="true" focusable="false" width="20" height="20" role="img"><path fill="currentColor" d="M558.8 99.64c-10.59-5.484-23.37-4.76-33.15 2.099l-102.8 72.04c-7.25 5.062-9 15.05-3.938 22.28C423.1 203.3 433.9 205 441.2 200L544 128v255.9L441.2 312c-7.266-5.047-17.22-3.312-22.28 3.938c-5.062 7.234-3.312 17.22 3.938 22.28l102.8 71.98c5.5 3.844 11.94 5.786 18.38 5.786c5.047 0 10.12-1.203 14.78-3.625C569.4 406.8 576 395.1 576 383.1V128C576 116 569.4 105.2 558.8 99.64zM320 64H64C28.65 64 0 92.65 0 128v256c0 35.35 28.65 64 64 64h256c35.35 0 64-28.65 64-64V128C384 92.65 355.3 64 320 64zM352 384c0 17.64-14.36 32-32 32H64c-17.64 0-32-14.36-32-32V128c0-17.64 14.36-32 32-32h256c17.64 0 32 14.36 32 32V384z"/></svg>
                                            Video
                                        </span>
                                        {{!-- <span class="qld__tag qld__tag--info">Video Length Here</span> --}}
                                    {{else ifCond metaData.format 'contains' 'audio'}}
                                        <span class="qld__search__result-type-name">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" aria-hidden="true" focusable="false" width="20" height="20" role="img"><path fill="currentColor" d="M224 312c-32.88 0-64 8.625-64 43.75c0 33.13 12.88 104.5 20.62 132.8C185.8 507.7 205.1 512 224 512s38.25-4.375 43.38-23.38C275.1 459.9 288 388.8 288 355.8C288 320.6 256.9 312 224 312zM237 478.5c-6 2-20 2-26 0C203.5 449.5 192 383.4 192 355.8c0-16.25 64-16.38 64 0C256 383.4 244.5 449.6 237 478.5zM224 160C188.6 160 160 188.6 160 224s28.62 64 64 64s64-28.62 64-64S259.4 160 224 160zM224 256C206.4 256 192 241.6 192 224s14.38-32 32-32s32 14.38 32 32S241.6 256 224 256zM224 0C100.5 0 0 100.5 0 224c0 69.39 31.41 133.8 86.16 176.6c6.875 5.406 16.97 4.203 22.44-2.75c5.469-6.969 4.219-17.02-2.75-22.47C58.91 338.7 32 283.5 32 224c0-105.9 86.13-192 192-192s192 86.13 192 192c0 59.48-26.91 114.7-73.84 151.4c-6.969 5.453-8.219 15.5-2.75 22.47C342.6 401.9 347.3 403.1 352 403.1c3.469 0 6.938-1.109 9.844-3.391C416.6 357.8 448 293.4 448 224C448 100.5 347.5 0 224 0zM368 224c0-79.41-64.59-144-144-144S80 144.6 80 224c0 25.34 6.656 50.25 19.28 72.02c4.438 7.672 14.25 10.2 21.88 5.828c7.625-4.422 10.25-14.22 5.812-21.86C117.2 263.1 112 243.7 112 224c0-61.75 50.25-112 112-112s112 50.25 112 112c0 19.72-5.188 39.08-14.97 55.98c-4.438 7.641-1.812 17.44 5.812 21.86C329.4 303.3 332.1 304 334.9 304c5.5 0 10.88-2.859 13.84-7.984C361.3 274.3 368 249.3 368 224z"/></svg>
                                            Audio
                                        </span>
                                        {{!-- <span class="qld__tag qld__tag--info">Audio Length Here</span> --}}
                                    {{/ifCond}}
                                {{/if}}                                
                                </div>
                            </div>
                            <p class="qld__search__result-summary">
                                {{#ifCond collection 'contains' '-web'}}
                                    {{#if metaData.d}}<span class="qld__search__result-date">{{formatDate listMetadata.d.[0] 'j F Y'}} —</span>{{/if}}
                                    {{{charMax summary '160'}}}
                                {{/ifCond}}
                                {{#ifCond collection 'contains' '__facilities'}}
                                {{#if metaData.building}}{{{metaData.building}}}, {{/if}}{{#if metaData.physicalAddressStreet}}{{{metaData.physicalAddressStreet}}}{{/if}}{{#if metaData.physicalAddressSuburb}}, {{{metaData.physicalAddressSuburb}}}{{/if}}{{#if metaData.physicalAddressPostcode}}, {{{metaData.physicalAddressPostcode}}}{{/if}}
                                {{/ifCond}}
                                {{#ifCond collection 'contains' '__service-locations'}}
                                {{#if metaData.building}}{{{metaData.building}}}, {{/if}}{{#if metaData.physicalAddressStreet}}{{{metaData.physicalAddressStreet}}}{{/if}}{{#if metaData.physicalAddressSuburb}}, {{{metaData.physicalAddressSuburb}}}{{/if}}{{#if metaData.physicalAddressPostcode}}, {{{metaData.physicalAddressPostcode}}}{{/if}}
                                {{/ifCond}}
                            </p>                           
                        </li>
                        {{/each}}
                    </ol>
                    {{/if}}
                </div>
                

                {{#ifCond resultsPage.resultsSummary.totalMatching '<' '1'}}
                <div class="qld__search__results qld__search__results--no-results">
                    <div class="qld__abstract">
                        Did you mean <a href="{{spell.url}}">‘{{{spell.text}}}’</a>
                    </div>
                    <h2 class="qld__display-lg"><span>Our search for </span><span class="qld__search__info-query-term">‘{{{question.query}}}’</span> didn't return any results.</h2>
                    <p class="qld__abstract">You could try:</p>
                    <ul class="qld__search-link-list qld__link-list">
                        <li>Check the spelling of your keywords.</li>
                        <li>Searching again using other words</li>
                        <li>Using fewer keywords.</li>
                    </ul>
                </div>
                {{/ifCond}}
                

                {{#ifCond resultsPage.resultsSummary.totalMatching '>=' '11'}}
                <nav class="text-center hidden-print qld__search-pagination" aria-label="pagination">
                    <h2 class="sr-only">Pagination</h2> 
                    <ul class="qld__search-pagination__list">
                        {{#each resultsPage.pagination}}
                            {{#ifCond linkType '===' 'last'}}
                                <li class="ellipsis">
                                    <svg  class="qld__icon qld__icon--lg"xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" aria-hidden="true" focusable="false" width="24" height="32" role="img"><path fill="currentColor" d="M352 256C352 238.3 366.3 224 384 224C401.7 224 416 238.3 416 256C416 273.7 401.7 288 384 288C366.3 288 352 273.7 352 256zM192 256C192 238.3 206.3 224 224 224C241.7 224 256 238.3 256 256C256 273.7 241.7 288 224 288C206.3 288 192 273.7 192 256zM96 256C96 273.7 81.67 288 64 288C46.33 288 32 273.7 32 256C32 238.3 46.33 224 64 224C81.67 224 96 238.3 96 256z"/></svg>
                                </li>
                            {{/ifCond}}

                            
                                {{#ifCond linkType '===' 'prev'}}
                                <li class="prev">
                                    <a href="{{{url}}}" rel="prev" aria-label="Previous page of results">
                                        <svg class="qld__icon qld__icon--sm" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" aria-hidden="true" focusable="false" width="16" height="16" role="img"><path fill="currentColor" d="M448 256C448 264.8 440.6 272 431.4 272H54.11l140.7 149.3c6.157 6.531 5.655 16.66-1.118 22.59C190.5 446.6 186.5 448 182.5 448c-4.505 0-9.009-1.75-12.28-5.25l-165.9-176c-5.752-6.094-5.752-15.41 0-21.5l165.9-176c6.19-6.562 16.69-7 23.45-1.094c6.773 5.938 7.275 16.06 1.118 22.59L54.11 240h377.3C440.6 240 448 247.2 448 256z"/></svg>
                                        <span>Back</span>
                                    </a>
                                {{/ifCond}}
                                
                                {{#if label}}
                                <li class="{{linkType}}{{#if isCurrent}} active{{/if}}">
                                    <a href="{{{url}}}">{{label}}</a></li>
                                {{/if}}

                                {{#ifCond linkType '===' 'next'}}
                                <li class="next">
                                    <a href="{{{url}}}" rel="next" aria-label="Next page of results">
                                    <span>Next</span>
                                    <svg class="qld__icon qld__icon--sm" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" aria-hidden="true" focusable="false" width="16" height="16" role="img"><path fill="currentColor" d="M443.7 266.8l-165.9 176C274.5 446.3 269.1 448 265.5 448c-3.986 0-7.988-1.375-11.16-4.156c-6.773-5.938-7.275-16.06-1.118-22.59L393.9 272H16.59c-9.171 0-16.59-7.155-16.59-15.1S7.421 240 16.59 240h377.3l-140.7-149.3c-6.157-6.531-5.655-16.66 1.118-22.59c6.789-5.906 17.27-5.469 23.45 1.094l165.9 176C449.4 251.3 449.4 260.7 443.7 266.8z"/></svg>
                                    </a>
                                {{/ifCond}}
                            </li>
                        
                            {{#ifCond linkType '===' 'first'}}
                                <li class="ellipsis">
                                    <svg class="qld__icon qld__icon--sm" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" aria-hidden="true" focusable="false" width="24" height="32" role="img"><path fill="currentColor" d="M352 256C352 238.3 366.3 224 384 224C401.7 224 416 238.3 416 256C416 273.7 401.7 288 384 288C366.3 288 352 273.7 352 256zM192 256C192 238.3 206.3 224 224 224C241.7 224 256 238.3 256 256C256 273.7 241.7 288 224 288C206.3 288 192 273.7 192 256zM96 256C96 273.7 81.67 288 64 288C46.33 288 32 273.7 32 256C32 238.3 46.33 224 64 224C81.67 224 96 238.3 96 256z"/></svg>
                                </li>
                            {{/ifCond}}
                        {{/each}}
                    </ul>
                </nav>
                {{/ifCond}}            
            </div>
        </div>
    </div>
</section>