{{#ifCond current.data.metadata.displayLastUpdated.value "==" "yes"}}
    {{#ifCond current.data.metadata.pageType.value "==" "landing"}}
        <section class="qld__body qld__pre-footer">
            <div class="container-fluid">
                <p><strong style="padding-right: 12px;">Last updated:</strong>&nbsp;{{formatDate
                        current.data.updated
                        "F Y"
                    }}</p>
                {{#if site.metadata.siteBackToTopShow.value}}
                    <div class="qld__widgets__back_to_top">
                        <a
                            href="#content"
                            class="qld__btn qld__btn--tertiary show"
                            aria-label="Back to top"
                        >
                            <span>Back to top</span>
                            <svg
                                class="qld__icon qld__icon--sm"
                                role="img"
                                aria-hidden="true"
                                focusable="false"
                                xmlns="http://www.w3.org/2000/svg"
                            ><use
                                    href="{{@root.site.metadata.coreSiteIcons.value}}#arrow-up"
                                ></use></svg>
                        </a>
                    </div>
                {{/if}}
            </div>
        </section>
    {{/ifCond}}
    {{#ifCond current.data.metadata.pageType.value "==" "news_detail"}}
        <section class="qld__body qld__pre-footer">
            <div class="container-fluid">
                <p><strong style="padding-right: 12px;">Last updated:</strong>&nbsp;{{formatDate
                        current.data.updated
                        "F Y"
                    }}</p>
                {{#if site.metadata.siteBackToTopShow.value}}
                    <div class="qld__widgets__back_to_top">
                        <a
                            href="#content"
                            class="qld__btn qld__btn--tertiary show"
                            aria-label="Back to top"
                        >
                            <span>Back to top</span>
                            <svg
                                class="qld__icon qld__icon--sm"
                                role="img"
                                aria-hidden="true"
                                focusable="false"
                                xmlns="http://www.w3.org/2000/svg"
                            ><use
                                    href="{{@root.site.metadata.coreSiteIcons.value}}#arrow-up"
                                ></use></svg>
                        </a>
                    </div>
                {{/if}}
            </div>
        </section>
    {{/ifCond}}
    {{#ifCond current.data.metadata.pageType.value "==" "content"}}
        <section class="qld__body qld__pre-footer">
            <div class="container-fluid">
                <p><strong style="padding-right: 12px;">Last updated:</strong>&nbsp;{{formatDate
                        current.data.updated
                        "F Y"
                    }}</p>
                {{#if site.metadata.siteBackToTopShow.value}}
                    <div class="qld__widgets__back_to_top">
                        <a
                            href="#content"
                            class="qld__btn qld__btn--tertiary show"
                            aria-label="Back to top"
                        >
                            <span>Back to top</span>
                            <svg
                                class="qld__icon qld__icon--sm"
                                role="img"
                                aria-hidden="true"
                                focusable="false"
                                xmlns="http://www.w3.org/2000/svg"
                            ><use
                                    href="{{@root.site.metadata.coreSiteIcons.value}}#arrow-up"
                                ></use></svg>
                        </a>
                    </div>
                {{/if}}
            </div>
        </section>
    {{/ifCond}}
    {{#ifCond current.data.metadata.pageType.value "==" "site_search"}}
        <section class="qld__body qld__pre-footer">
            <div class="container-fluid">
                <p><strong style="padding-right: 12px;">Last updated:</strong>&nbsp;{{formatDate
                        current.data.updated
                        "F Y"
                    }}</p>
                {{#if site.metadata.siteBackToTopShow.value}}
                    <div class="qld__widgets__back_to_top">
                        <a
                            href="#content"
                            class="qld__btn qld__btn--tertiary show"
                            aria-label="Back to top"
                        >
                            <span>Back to top</span>
                            <svg
                                class="qld__icon qld__icon--sm"
                                role="img"
                                aria-hidden="true"
                                focusable="false"
                                xmlns="http://www.w3.org/2000/svg"
                            ><use
                                    href="{{@root.site.metadata.coreSiteIcons.value}}#arrow-up"
                                ></use></svg>
                        </a>
                    </div>
                {{/if}}
            </div>
        </section>
    {{/ifCond}}
{{/ifCond}}

{{#ifCond current.data.metadata.displayLastUpdated.value "==" "no"}}
    {{#if site.metadata.siteBackToTopShow.value}}
        <div class="qld__widgets__back_to_top">
            <a
                href="#content"
                class="qld__btn qld__btn--tertiary show"
                aria-label="Back to top"
            >
                <span>Back to top</span>
                <svg
                    class="qld__icon qld__icon--sm"
                    role="img"
                    aria-hidden="true"
                    focusable="false"
                    xmlns="http://www.w3.org/2000/svg"
                ><use
                        href="{{@root.site.metadata.coreSiteIcons.value}}#arrow-up"
                    ></use></svg>
            </a>
        </div>
    {{/if}}
{{/ifCond}}