{{#with component.data}}
    <div class="qld__toggle-tip" id="{{#if metadata.id_field.value}}{{{metadata.id_field.value}}}{{else}}toggle-tip-{{assetid}}{{/if}}">
        <button class="qld__toggle-tip-trigger" aria-controls="toggle-tip-content-{{assetid}}" aria-expanded="false" aria-label="{{#if metadata.title.value}}{{{metadata.title.value}}}{{else}}Show {{metadata.type.value}}{{/if}}" aria-haspopup="dialog" tabindex="0">
        {{#ifCond metadata.definition.value "==" "true"}}
            <span class="qld__toggle-tip-trigger-definition">
                {{metadata.title.value}}
            </span>
        {{else}}
            <div class="qld__toggle-tip-trigger-icon">
                {{#ifCond metadata.type.value "==" "info"}}
                <svg class="qld__icon qld__icon--{{#ifCond metadata.icon_size.value "==" "medium"}}md{{else}}lg{{/ifCond}}" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
                    <use href="{{@root.site.metadata.coreSiteIcons.value}}#alert-information"></use>
                </svg>
                {{/ifCond}}
                {{#ifCond metadata.type.value "==" "help"}}
                <svg class="qld__icon qld__icon--{{#ifCond metadata.icon_size.value "==" "medium"}}md{{else}}lg{{/ifCond}}" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
                    <use href="{{@root.site.metadata.coreSiteIcons.value}}#help"></use>
                </svg>
                {{/ifCond}}
            </div>
        {{/ifCond}}
        </button>
        <div class="qld__toggle-tip-content qld__toggle-tip-hidden qld__toggle-tip-aligned-{{metadata.content_alignment.value}}" id="toggle-tip-content-{{assetid}}" role="status">
            {{#if metadata.heading.value}}
            <div class="qld__toggle-tip-content-heading">
                {{metadata.heading.value}}
            </div>
            {{/if}}
            {{{metadata.content.value}}}
            {{#if metadata.link_text.value}}
            <div class="qld__toggle-tip-content-link">
                <a href={{metadata.link_url.value}}>{{metadata.link_text.value}}</a>
            </div>
            {{/if}}
        </div>
        <div class="qld__toggle-tip-content-carat qld__toggle-tip-hidden"></div>
    </div>
{{/with}}