{{#with component.data}}
<section class="qld__body qld__video__player--wrapper
  {{#if metadata.body_background.value}}qld__body--{{metadata.body_background.value}}{{/if}}" id="{{#if metadata.id_field.value}}{{{metadata.id_field.value}}}{{else}}video_player-{{assetid}}{{/if}}">
  <div class="container-fluid">
    <div class="row qld__row-gap-component {{#ifCond metadata.video_layout.value '==' 'two_column'}}qld__video__player--align-{{metadata.video_align_items.value}}{{/ifCond}}">


      <!-- Check for 'stack' video layout option -->
      {{#ifCond metadata.video_layout.value '==' 'stack'}}

      <!-- If video description exists, display it -->
        {{#if metadata.video_description.value}}
          <div class="col-xs-12
            {{#ifCond metadata.stack_options.value '==' 'centered'}}qld__video__copy--centered text-center{{/ifCond}}">
            {{{metadata.video_description.value}}}
          </div>
        {{/if}}

        <!-- Embed video based on selected video size and layout -->
        <div class="{{#ifCond metadata.video_size.value '==' 'eight_col'}}col-xs-12 col-lg-8{{else}}col-xs-12{{/ifCond}}
          {{#ifCond metadata.stack_options.value '==' 'centered'}}qld__video__centered{{/ifCond}}">

          <!-- Only embed the video if a video ID is provided -->
          {{#if metadata.video_id.value}}
            <div class="qld__video__player--embed">
              <div class="qld__video__player--embed--container">
                <!-- Embed YouTube or Vimeo based on the selected video type -->
                    <iframe {{#ifCond metadata.video_type.value '==' 'youtube'}}src="https://www.youtube.com/embed/{{metadata.video_id.value}}"{{/ifCond}}
                    {{#ifCond metadata.video_type.value '==' 'vimeo'}}src="https://player.vimeo.com/video/{{metadata.video_id.value}}"{{/ifCond}}
                    frameborder="0"
                    allow="fullscreen"
                    allowfullscreen
                    title="{{metadata.video_caption.value}} - Video"
                    aria-label="Video: {{metadata.video_caption.value}}"
                    class="qld__video__player--iframe">
                    </iframe>
              </div>

              <!-- Display video caption and duration if provided -->
              <div class="qld__video__player--summary">
                {{#ifAny metadata.video_caption.value metadata.video_duration.value}}
                  <div class="qld__video__player--caption">
                    {{metadata.video_caption.value}}
                    {{#if metadata.video_duration.value}}
                      <div class="qld__video__player--duration">
                        <svg class="qld__icon qld__icon--sm" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"><use href="{{@root.site.metadata.coreSiteIcons.value}}#clock"></use></svg>
                        Duration: {{metadata.video_duration.value}}
                      </div>
                    {{/if}}
                  </div>
                {{/ifAny}}

                <!-- Display transcript link if transcript option is 'link' -->
                {{#ifCond metadata.transcript_options.value '==' 'link'}}
                  {{#if metadata.transcript_link.value}}
                    <div class="qld__video__player__transcript">
                      <div class="qld__video__player__transcript-link">
                        <svg class="qld__icon qld__icon--sm" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"><use href="{{@root.site.metadata.coreSiteIcons.value}}#arrow-right"></use></svg>
                        <a href="%globals_asset_assetid:{{metadata.transcript_link.value}}^as_asset:asset_url%">View transcript</a>
                      </div>
                    </div>
                  {{/if}}
                {{/ifCond}}

                <!-- Display transcript accordion if transcript option is 'accordion' -->
                {{#ifCond metadata.transcript_options.value '==' 'accordion'}}
                {{#if metadata.transcript.value}}
                  <div class="qld__video__player__transcript">
                    <div class="qld__accordion">
                      <button class="qld__accordion__title js-qld__accordion qld__accordion--closed"
                              aria-controls="accordion-group-{{assetid}}" aria-expanded="false">
                        <svg class="qld__icon qld__icon--md" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"><use href="{{@root.site.metadata.coreSiteIcons.value}}#transcript"></use></svg>
                        <span>Show transcript</span>
                      </button>
                      <div class="qld__accordion__body qld__accordion--closed" id="accordion-group-{{assetid}}">
                        <div class="qld__accordion__body-wrapper">
                          {{{metadata.transcript.value}}}
                        </div>
                      </div>
                    </div>
                  </div>
                {{/if}}
              {{/ifCond}}
              </div>
            </div>
          {{/if}}
        </div>
      {{/ifCond}}

      <!-- Check for 'two_column' video layout option -->
      {{#ifCond metadata.video_layout.value '==' 'two_column'}}
        <div class="col-xs-12 col-lg-6">
          {{#if metadata.video_description.value}}
            {{{metadata.video_description.value}}}
          {{/if}}
        </div>
        <div class="col-xs-12 col-lg-6">
          <!-- Embed the video if a video ID exists -->
          {{#if metadata.video_id.value}}
            <div class="qld__video__player--embed">
              <div class="qld__video__player--embed--container">
                <iframe {{#ifCond metadata.video_type.value '==' 'youtube'}}src="https://www.youtube.com/embed/{{metadata.video_id.value}}"{{/ifCond}}
                {{#ifCond metadata.video_type.value '==' 'vimeo'}}src="https://player.vimeo.com/video/{{metadata.video_id.value}}"{{/ifCond}}
                frameborder="0"
                allow="fullscreen"
                allowfullscreen
                title="{{metadata.video_caption.value}} - Video"
                aria-label="Video: {{metadata.video_caption.value}}"
                class="qld__video__player--iframe">
                </iframe>
              </div>
              <div class="qld__video__player--summary">
                {{#ifAny metadata.video_caption.value metadata.video_duration.value}}
                  <div class="qld__video__player--caption">
                    {{metadata.video_caption.value}}
                    {{#if metadata.video_duration.value}}
                      <div class="qld__video__player--duration">
                        <svg class="qld__icon qld__icon--sm" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"><use href="{{@root.site.metadata.coreSiteIcons.value}}#clock"></use></svg>
                        Duration: {{metadata.video_duration.value}}
                      </div>
                    {{/if}}
                  </div>
                {{/ifAny}}

                <!-- Display transcript link or accordion based on options -->
                {{#ifCond metadata.transcript_options.value '==' 'link'}}
                  {{#if metadata.transcript_link.value}}
                    <div class="qld__video__player__transcript">
                      <div class="qld__video__player__transcript-link">
                        <svg class="qld__icon qld__icon--sm" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"><use href="{{@root.site.metadata.coreSiteIcons.value}}#arrow-right"></use></svg>
                        <a href="%globals_asset_assetid:{{metadata.transcript_link.value}}^as_asset:asset_url%">View transcript</a>
                      </div>
                    </div>
                  {{/if}}
                {{/ifCond}}

                {{#ifCond metadata.transcript_options.value '==' 'accordion'}}
                  {{#if metadata.transcript.value}}
                    <div class="qld__video__player__transcript">
                      <div class="qld__accordion">
                        <button class="qld__accordion__title js-qld__accordion qld__accordion--closed"
                                aria-controls="accordion-group-{{assetid}}" aria-expanded="false">
                            <svg class="qld__icon qld__icon--sm" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"><use href="{{@root.site.metadata.coreSiteIcons.value}}#transcript"></use></svg>
                            <span>Show transcript</span>
                        </button>
                        <div class="qld__accordion__body qld__accordion--closed" id="accordion-group-{{assetid}}">
                          <div class="qld__accordion__body-wrapper">
                            {{{metadata.transcript.value}}}
                          </div>
                        </div>
                      </div>
                    </div>
                  {{/if}}
                {{/ifCond}}
                </div>
            </div>
          {{/if}}
        </div>
      {{/ifCond}}
    </div>
  </div>
</section>
{{/with}}