{{#ifCond site.metadata.alertDisplay.value '==' 'true'}}
    <div 
    role="region" 
    aria-label="{{#ifCond site.metadata.alertLevel.value '==' 'default'}}Warning{{/ifCond}}{{#ifCond site.metadata.alertLevel.value '==' 'critical'}}Alert{{/ifCond}}{{#ifCond site.metadata.alertLevel.value '==' 'general'}}Information{{/ifCond}}" 
    class="qld__global-alert qld__global-alert--{{site.metadata.alertLevel.value}}">
    </div>
        <div class="container-fluid">
            <div class="qld__global-alert__main">
                <div class="qld__global-alert__icon">
                    {{#ifCond site.metadata.alertLevel.value '==' 'default'}}
                    <svg aria-label="Warning" xmlns="http://www.w3.org/2000/svg" class="qld__icon qld__icon--md"><use href="{{@root.site.metadata.siteDefaultIcons.value}}#qld__icon__warning"></use></svg>
                    {{/ifCond}}
                    {{#ifCond site.metadata.alertLevel.value '==' 'critical'}}
                    <svg aria-label="Alert" xmlns="http://www.w3.org/2000/svg" class="qld__icon qld__icon--md"><use href="{{@root.site.metadata.siteDefaultIcons.value}}#qld__icon__critical"></use></svg>
                    {{/ifCond}}
                    {{#ifCond site.metadata.alertLevel.value '==' 'general'}}
                    <svg aria-label="Information" xmlns="http://www.w3.org/2000/svg" class="qld__icon qld__icon--md"><use href="{{@root.site.metadata.siteDefaultIcons.value}}#qld__icon__info"></use></svg>
                    {{/ifCond}}
                </div>
                <div class="qld__global-alert__content">
                    {{#if site.metadata.alertMessage.value}}
                    <div class="qld__global-alert__message">
                    <strong>{{site.metadata.alertTitle.value}}</strong> {{site.metadata.alertMessage.value}}    
                    </div>
                    {{/if}}
                    <div class="qld__global-alert__action">
                        <a href="{{site.metadata.alertLinkURL.value}}">
                            <span>{{site.metadata.alertLinkTitle.value}}</span>
                            <svg aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" class="qld__icon qld__icon--sm"><use href="{{@root.site.metadata.siteDefaultIcons.value}}#qld__icon__arrow-right"></use></svg>
                        </a>   
                    </div>
                </div>
                <div class="qld__global-alert__close">
                    <button aria-label="Close alert">
                        <svg aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" class="qld__icon qld__icon--md"><use href="{{@root.site.metadata.siteDefaultIcons.value}}#qld__icon__close"></use></svg>
                    </button>
                </div>
            </div>
        </div> 
    </div>
{{/ifCond}}
{{#ifCond site.metadata.secondAlertDisplay.value '==' 'true'}}
        <div 
        role="region" 
        aria-label="{{#ifCond site.metadata.alertLevel.value '==' 'default'}}Warning{{/ifCond}}{{#ifCond site.metadata.alertLevel.value '==' 'critical'}}Alert{{/ifCond}}{{#ifCond site.metadata.alertLevel.value '==' 'general'}}Information{{/ifCond}}"
        class="qld__global-alert qld__global-alert--{{site.metadata.secondAlertLevel.value}}">
        </div>
        <div class="container-fluid">
            <div class="qld__global-alert__main">
                <div class="qld__global-alert__icon">
                    {{#ifCond site.metadata.secondAlertLevel.value '==' 'default'}}
                    <svg aria-label="Warning" xmlns="http://www.w3.org/2000/svg" class="qld__icon qld__icon--md"><use href="{{@root.site.metadata.siteDefaultIcons.value}}#qld__icon__warning"></use></svg>
                    {{/ifCond}}
                    {{#ifCond site.metadata.secondAlertLevel.value '==' 'critical'}}
                    <svg aria-label="Alert" xmlns="http://www.w3.org/2000/svg" class="qld__icon qld__icon--md"><use href="{{@root.site.metadata.siteDefaultIcons.value}}#qld__icon__critical"></use></svg>
                    {{/ifCond}}
                    {{#ifCond site.metadata.secondAlertLevel.value '==' 'general'}}
                    <svg aria-label="Information" xmlns="http://www.w3.org/2000/svg" class="qld__icon qld__icon--md"><use href="{{@root.site.metadata.siteDefaultIcons.value}}#qld__icon__info"></use></svg>
                    {{/ifCond}}
                </div>
                <div class="qld__global-alert__content">
                    {{#if site.metadata.secondAlertMessage.value}}
                    <div class="qld__global-alert__message">
                    <strong>{{site.metadata.secondAlertTitle.value}}</strong> {{site.metadata.secondAlertMessage.value}}    
                    </div>
                    {{/if}}
                    <div class="qld__global-alert__action">
                        <a href="{{site.metadata.secondAlertLinkURL.value}}">
                            <span>{{site.metadata.secondAlertLinkTitle.value}}</span>
                            <svg aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" class="qld__icon qld__icon--sm"><use href="{{@root.site.metadata.siteDefaultIcons.value}}#qld__icon__arrow-right"></use></svg>
                        </a>   
                    </div>
                </div>
                <div class="qld__global-alert__close">
                    <button aria-label="Close alert">
                        <svg aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" class="qld__icon qld__icon--md"><use href="{{@root.site.metadata.siteDefaultIcons.value}}#qld__icon__close"></use></svg>
                    </button>
                </div>
            </div>
        </div> 
    </div>
{{/ifCond}}
{{#ifCond site.metadata.thirdAlertDisplay.value '==' 'true'}}
    <div 
        role="region" 
        aria-label="{{#ifCond site.metadata.alertLevel.value '==' 'default'}}Warning{{/ifCond}}{{#ifCond site.metadata.alertLevel.value '==' 'critical'}}Alert{{/ifCond}}{{#ifCond site.metadata.alertLevel.value '==' 'general'}}Information{{/ifCond}}"
        class="qld__global-alert qld__global-alert--{{site.metadata.thirdAlertLevel.value}}">
        <div class="container-fluid">
            <div class="qld__global-alert__main">
                <div class="qld__global-alert__icon">
                    {{#ifCond site.metadata.thirdAlertLevel.value '==' 'default'}}
                    <svg aria-label="Warning" xmlns="http://www.w3.org/2000/svg" class="qld__icon qld__icon--md"><use href="{{@root.site.metadata.siteDefaultIcons.value}}#qld__icon__warning"></use></svg>
                    {{/ifCond}}
                    {{#ifCond site.metadata.thirdAlertLevel.value '==' 'critical'}}
                    <svg aria-label="Alert" xmlns="http://www.w3.org/2000/svg" class="qld__icon qld__icon--md"><use href="{{@root.site.metadata.siteDefaultIcons.value}}#qld__icon__critical"></use></svg>
                    {{/ifCond}}
                    {{#ifCond site.metadata.thirdAlertLevel.value '==' 'general'}}
                    <svg aria-label="Information" xmlns="http://www.w3.org/2000/svg" class="qld__icon qld__icon--md"><use href="{{@root.site.metadata.siteDefaultIcons.value}}#qld__icon__info"></use></svg>
                    {{/ifCond}}
                </div>
                <div class="qld__global-alert__content">
                    {{#if site.metadata.thirdAlertMessage.value}}
                    <div class="qld__global-alert__message">
                    <strong>{{site.metadata.thirdAlertTitle.value}}</strong> {{site.metadata.thirdAlertMessage.value}}    
                    </div>
                    {{/if}}
                    <div class="qld__global-alert__action">
                        <a href="{{site.metadata.thirdAlertLinkURL.value}}">
                            <span>{{site.metadata.thirdAlertLinkTitle.value}}</span>
                            <svg aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" class="qld__icon qld__icon--sm"><use href="{{@root.site.metadata.siteDefaultIcons.value}}#qld__icon__arrow-right"></use></svg>
                        </a>   
                    </div>
                </div>
                <div class="qld__global-alert__close">
                    <button aria-label="Close alert">
                        <svg aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" class="qld__icon qld__icon--md"><use href="{{@root.site.metadata.siteDefaultIcons.value}}#qld__icon__close"></use></svg>
                    </button>
                </div>
            </div>
        </div> 
    </div>
{{/ifCond}}