{{#with component.data}}

<!--@@ Banner @@-->
<section 
    id="{{#if metadata.id_field.value}}{{metadata.id_field.value}}{{else}}banner-intermediate-{{assetid}}{{/if}}" 
    class="
        qld__banner qld__banner__intermediate
        {{#ifCond metadata.background_colour.value '==' 'alternate'}}qld__banner--alt{{/ifCond}} 
        {{#ifCond metadata.background_colour.value '==' 'dark'}}qld__banner--dark{{/ifCond}} 
        {{#ifCond metadata.background_colour.value '==' 'dark-alternate'}}qld__banner--dark-alt{{/ifCond}} 
        {{#ifCond metadata.breadcrumbs_display.value '==' 'yes'}}qld__banner--breadcrumbs{{/ifCond}}
        
        {{#ifAny metadata.hero_image.value metadata.background_image_sm.value}}qld__banner--has-hero{{/ifAny}}
        {{#ifCond metadata.hero_image_alignment.value '==' 'page'}}qld__banner--hero-right{{/ifCond}}
        {{#ifCond metadata.hero_image_responsive_treatment.value '==' 'crop'}}{{else}}{{#ifCond metadata.hero_image_padding.value '==' 'yes'}}qld__banner--padded{{/ifCond}}{{/ifCond}} 
    "
>

    <style>
    
    {{#ifCond metadata.background_type.value '==' 'image'}}
        @media (min-width:699px) {
            #banner-{{assetid}} {
                background-image: url(./?a={{metadata.background_image_lg.value}});
                background-size: cover;
                background-repeat: no-repeat;
                background-position-x: {{metadata.background_image_alignment.value}};
            }
        }
    {{/ifCond}}

    {{#ifCond metadata.background_type.value '==' 'texture'}}
        {{#ifCond metadata.background_colour.value '==' 'light'}}
        #banner-{{assetid}} {
            background-image: url(./?a={{../site.metadata.defaultBannerTexture.value}});
        }
        {{/ifCond}}
        {{#ifCond metadata.background_colour.value '==' 'alternate'}}
        #banner-{{assetid}} {
            background-image: url(./?a={{../site.metadata.defaultBannerTexture.value}});
        }
        {{/ifCond}}
        {{#ifCond metadata.background_colour.value '==' 'dark'}}
         #banner-{{assetid}} {
            background-image: url(./?a={{../site.metadata.defaultBannerTextureDark.value}});
        }
        {{/ifCond}}
        {{#ifCond metadata.background_colour.value '==' 'dark-alternate'}}
         #banner-{{assetid}} {
            background-image: url(./?a={{../site.metadata.defaultBannerTextureDark.value}});
        }
        {{/ifCond}}
    {{/ifCond}}

    </style>

    <!--@@ Breadcrumbs - Mobile @@-->
    {{#ifCond metadata.breadcrumbs_display.value '==' 'yes'}}
    <nav class="qld__breadcrumbs {{#ifCond metadata.background_colour.value '==' 'alternate'}}qld__breadcrumbs--alt{{/ifCond}} 
    {{#ifCond metadata.background_colour.value '==' 'dark'}}qld__breadcrumbs--dark{{/ifCond}} 
    {{#ifCond metadata.background_colour.value '==' 'dark-alternate'}}qld__breadcrumbs--alt-dark{{/ifCond}} qld__banner__breadcrumbs qld__banner__breadcrumbs--mobile" aria-label="breadcrumb">
        <div class="qld__link-list qld__link-list--inline">
            {{#with (itemAt ../current.lineage -2)}}
            {{#ifCond asset_type_code '!=' 'folder'}} 
                <div class="qld__breadcrumbs__item">
                    <svg class="qld__icon" xmlns="http://www.w3.org/2000/svg"><use href="{{@root.site.metadata.coreSiteIcons.value}}#chevron-left"></use></svg>
                    <a href="{{asset_url}}" class="qld__breadcrumbs__link">
                        {{#ifCond asset_is_site_asset '==' '1'}}
                            Home
                        {{else}}
                            {{renderSpecialChar asset_short_name}}
                        {{/ifCond}}
                    </a>    
                </div>
            {{/ifCond}}
            {{/with}}
        </div>
    </nav>
    {{/ifCond}}

    <div class="container-fluid">
        <div class="qld__banner__wrapper">
            
            <div class="qld__banner__main row">

                <!--@@ Hero image @@-->
                <div class="qld__banner__hero col-xs-12  
                {{#ifCond metadata.hero_image_responsive_treatment.value '==' 'scale'}}
                qld__banner__hero--scale {{#ifCond metadata.hero_image_alignment.value '==' 'grid'}}col-md-6 col-lg-5 col-xl-5{{else}}col-md-6 col-lg-5 col-xl-5{{/ifCond}}
                {{/ifCond}}
                {{#ifCond metadata.hero_image_responsive_treatment.value '==' 'crop'}}
                    {{#ifCond metadata.hero_image_alignment.value '==' 'grid'}}col-md-6 col-lg-5 col-xl-5{{else}}col-md-7 col-lg-5 col-xl-4{{/ifCond}}
                {{/ifCond}}">

                    <div class="qld__banner__image {{#if metadata.background_image_sm.value}}qld__banner__image--mobile-hide{{/if}}" style="background-image: url('./?a={{metadata.hero_image.value}}');"></div>
                    {{#if metadata.background_image_sm.value}}
                    <div class="qld__banner__image qld__banner__image--background qld__banner__image--desktop-hide" style="background-image: url('./?a={{metadata.background_image_sm.value}}');"></div>
                    {{/if}}
                </div>
                
                <div class="qld__banner__content col-xs-12 {{#if metadata.hero_image.value}}col-md-6 col-lg-7{{else}}col-md-8 col-lg-8{{/if}}">
                    <!--@@ Breadcrumbs - Tablet @@-->
                    {{#ifCond metadata.breadcrumbs_display.value '==' 'yes'}}
                        <nav class="qld__breadcrumbs 
                        {{#ifCond metadata.background_colour.value '==' 'dark'}}qld__breadcrumbs--dark{{/ifCond}} 
                        {{#ifCond metadata.background_colour.value '==' 'dark-alternate'}}qld__breadcrumbs--dark{{/ifCond}} 
                        qld__banner__breadcrumbs qld__banner__breadcrumbs--tablet" aria-label="breadcrumb" data-path="{{@root.site.metadata.coreSiteIcons.value}}">
                            <div class="qld__link-list qld__link-list--inline">
                                {{#with (itemAt ../current.lineage -2)}}
                                {{#ifCond asset_type_code '!=' 'folder'}} 
                                    <div class="qld__breadcrumbs__item">
                                        <svg class="qld__icon" xmlns="http://www.w3.org/2000/svg"><use href="{{@root.site.metadata.coreSiteIcons.value}}#chevron-left"></use></svg>
                                        <a href="{{asset_url}}" class="qld__breadcrumbs__link">
                                            {{#ifCond asset_is_site_asset '==' '1'}}
                                                Home
                                            {{else}}
                                                {{renderSpecialChar asset_short_name}}
                                            {{/ifCond}}
                                        </a>    
                                    </div>
                                {{/ifCond}}
                                {{/with}}
                            </div>
                        </nav>
                    {{/ifCond}}
                    <!--@@ Breadcrumbs - Desktop @@-->
                    {{#ifCond metadata.breadcrumbs_display.value '==' 'yes'}}
                        <nav class="qld__breadcrumbs 
                        {{#ifCond metadata.background_colour.value '==' 'dark'}}qld__breadcrumbs--dark{{/ifCond}} 
                        {{#ifCond metadata.background_colour.value '==' 'dark-alternate'}}qld__breadcrumbs--dark{{/ifCond}} 
                        qld__banner__breadcrumbs qld__banner__breadcrumbs--desktop" aria-label="breadcrumb" data-path="{{@root.site.metadata.coreSiteIcons.value}}">
                            <ol class="qld__breadcrumbs__list--desktop qld__link-list qld__link-list--inline">
                                {{#each ../current.lineage}} 
                                {{#ifCond asset_type_code '!=' 'folder'}}        
                                    <li {{#if @last}}aria-current="page"{{/if}} class="qld__breadcrumbs__item">
                                        {{#if @last}}
                                            {{renderSpecialChar asset_short_name}}
                                        {{else}}
                                        <a href="{{asset_url}}" class="qld__breadcrumbs__link">{{#if @first}}Home{{else}}{{renderSpecialChar asset_short_name}}{{/if}}</a>
                                        {{/if}}
                                    </li>
                                    {{#unless @last}}
                                        <svg class="qld__icon" xmlns="http://www.w3.org/2000/svg"><use href="{{@root.site.metadata.coreSiteIcons.value}}#chevron-right"></use></svg>
                                    {{/unless}}
                                {{/ifCond}}
                                {{/each}}
                            </ol>
                        </nav>
                    {{/ifCond}}

                    <!--@@ Heading(s) @@-->
                    {{#ifCond metadata.heading_background_display.value '==' 'yes'}}
                        <h1 class="qld__banner__heading__wrapper">
                            {{#if metadata.heading_primary.value}}
                            <span class="qld__banner__heading qld__banner__heading--dark">{{metadata.heading_primary.value}}</span>
                            {{/if}}

                            {{#if metadata.heading_secondary.value}}
                            <span class="qld__banner__heading qld__banner__heading--light">{{metadata.heading_secondary.value}}</span>
                            {{/if}}
                        </h1>
                    
                    {{else}}
                        <h1>{{metadata.heading_primary.value}}</h1>
                    
                    {{/ifCond}}

                    <!--@@ Abstract @@-->
                    {{#if metadata.abstract.value}}
                        <div class="qld__banner__content--body qld__abstract">{{{metadata.abstract.value}}}</div>
                    {{/if}}
                        
                    <!--@@ CTA Buttons @@-->
                    {{#ifAny metadata.cta_button_primary_text.value metadata.cta_button_secondary_text.value}}
                        <ul class="qld__banner__content--cta qld__link-list">
                            {{#if metadata.cta_button_primary_text.value}}
                            <li>
                                <a class="qld__btn qld__btn--primary" data-type="class" href="./?a={{metadata.cta_button_primary_link.value}}" >{{metadata.cta_button_primary_text.value}}</a>
                            </li>
                            {{/if}}

                            {{#if metadata.cta_button_secondary_text.value}}
                            <li>
                                <a class="qld__btn qld__btn--secondary" data-type="class" href="./?a={{metadata.cta_button_secondary_link.value}}" >{{metadata.cta_button_secondary_text.value}}</a>
                            </li>
                            {{/if}}
                        </ul> 
                    {{/ifAny}}

                </div>
            </div>
        </div>
    </div>
</section>

{{/with}}