
{{#with component.data}}
<section class="qld__body {{metadata.body_background.value}}">
    <div class="container-fluid">
        <div class="qld__data-table {{metadata.table_data_source.value}} {{metadata.table_styling.value}}" id="qld-data-table-{{assetid}}">
            <div class="qld__data-table__header">
                <span class="qld__display-md">{{metadata.table_title.value}}</span>
                <span class="qld__caption">
                    {{metadata.table_caption.value}}
                </span>
            </div>
            <div id="qld_data-table_html" class="qld__data-table-content" aria-describedby="" style="display: none">
                {{{metadata.table_in_html.value}}}
            </div>
            <table id="qld_data-table_csv" class="qld__data-table-content" aria-describedby="" data-csv-source="./?a={{metadata.table_data_csv.value}}" style="display: none">
            </table>
        </div>
    </div>
</section>
{{/with}}