<nav class="hidden-print qld__search-pagination" aria-label="pagination">
    <h2 class="sr-only">Pagination</h2>
    <ul class="qld__search-pagination__list">
        {{#each pagination}}
            {{#ifCond linkType '===' 'last'}}
                <li class="ellipsis">
                    <svg aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" class="qld__icon qld__icon--lg"><use href="{{@root.site.metadata.siteDefaultIcons.value}}#qld__icon__ellipsis"></use></svg>
                </li>
            {{/ifCond}}

            
                {{#ifCond linkType '===' 'prev'}}
                <li class="prev">
                    <a href="{{url}}" rel="prev" aria-label="Previous page of results">
                        <svg aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" class="qld__icon qld__icon--sm"><use href="{{@root.site.metadata.siteDefaultIcons.value}}#qld__icon__arrow-left"></use></svg>
                        <span>Back</span>
                    </a>
                {{/ifCond}}
                
                {{#if label}}
                <li class="{{linkType}}{{#if isCurrent}} active{{/if}}">
                    <a class="qld__search-pagination_link" href="{{url}}">{{label}}</a></li>
                {{/if}}

                {{#ifCond linkType '===' 'next'}}
                <li class="next">
                    <a href="{{url}}" rel="next" aria-label="Next page of results">
                    <span>Next</span>
                    <svg aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" class="qld__icon qld__icon--sm"><use href="{{@root.site.metadata.siteDefaultIcons.value}}#qld__icon__arrow-right"></use></svg>
                    </a>
                {{/ifCond}}
            </li>
        
            {{#ifCond linkType '===' 'first'}}
                <li class="ellipsis">
                    <svg aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" class="qld__icon qld__icon--lg"><use href="{{@root.site.metadata.siteDefaultIcons.value}}#qld__icon__ellipsis"></use></svg>
                </li>
            {{/ifCond}}
        {{/each}}
    </ul>
</nav>