{{#with component.data}}

<!--@@ Banner @@-->
<section id="{{#if metadata.id_field.value}}{{metadata.id_field.value}}{{else}}banner-{{assetid}}{{/if}}" 
    class="
        qld__banner qld__banner__basic
        {{#if metadata.hero_image.value}}qld__banner--has-hero{{/if}}
        {{#ifCond metadata.background_colour.value '==' 'alternate'}}qld__banner--alt{{/ifCond}} 
        {{#ifCond metadata.background_colour.value '==' 'dark'}}qld__banner--dark{{/ifCond}} 
        {{#ifCond metadata.background_colour.value '==' 'dark-alternate'}}qld__banner--dark-alt{{/ifCond}} 
        
        {{#ifCond metadata.breadcrumbs_display.value '==' 'yes'}}qld__banner--breadcrumbs{{/ifCond}}
        {{#ifCond metadata.hero_image_responsive_treatment.value '==' 'scale'}}qld__banner--hero-scale{{else}}{{#ifCond metadata.hero_image_padding.value '==' 'yes'}}qld__banner--padded{{/ifCond}}{{/ifCond}} 
        {{#ifCond metadata.hero_image_alignment.value '==' 'page'}}qld__banner--hero-right{{/ifCond}}
    "

>
    <style>
    
    {{#ifCond metadata.background_type.value '==' 'image'}}
        @media (min-width:699px) {
            #banner-{{assetid}} {
                background-image: url(./?a={{metadata.background_image_lg.value}});
                background-size: cover;
                background-repeat: no-repeat;
                background-position-x: {{metadata.background_image_alignment.value}};
            }
        }
    {{/ifCond}}

    {{#ifCond metadata.background_type.value '==' 'texture'}}
        {{#ifCond metadata.background_colour.value '==' 'light'}}
        #banner-{{assetid}} {
            background-image: url(./?a={{../site.metadata.defaultBannerTexture.value}});
        }
        {{/ifCond}}
        {{#ifCond metadata.background_colour.value '==' 'alternate'}}
        #banner-{{assetid}} {
            background-image: url(./?a={{../site.metadata.defaultBannerTexture.value}});
        }
        {{/ifCond}}
        {{#ifCond metadata.background_colour.value '==' 'dark'}}
         #banner-{{assetid}} {
            background-image: url(./?a={{../site.metadata.defaultBannerTextureDark.value}});
        }
        {{/ifCond}}
        {{#ifCond metadata.background_colour.value '==' 'dark-alternate'}}
         #banner-{{assetid}} {
            background-image: url(./?a={{../site.metadata.defaultBannerTextureDark.value}});
        }
        {{/ifCond}}
    {{/ifCond}}

    </style>
    <!--@@ Breadcrumbs - Mobile @@-->
    {{#ifCond metadata.breadcrumbs_display.value '==' 'yes'}}
    <nav class="qld__breadcrumbs {{#ifCond metadata.background_colour.value '==' 'alternate'}}qld__breadcrumbs--alt{{/ifCond}} 
    {{#ifCond metadata.background_colour.value '==' 'dark'}}qld__breadcrumbs--dark{{/ifCond}} 
    {{#ifCond metadata.background_colour.value '==' 'dark-alternate'}}qld__breadcrumbs--dark-alt{{/ifCond}} qld__banner__breadcrumbs qld__banner__breadcrumbs--mobile" aria-label="breadcrumb">
        <ul class="qld__link-list qld__link-list--inline">
            {{#with (itemAt ../current.lineage -2)}}
            {{#ifCond asset_type_code '!=' 'folder'}} 
                <li>
                    <a href="{{asset_url}}">
                        {{#ifCond asset_is_site_asset '==' '1'}}
                            Home
                        {{else}}
                            {{renderSpecialChar asset_short_name}}
                        {{/ifCond}}
                    </a>    
                </li>
            {{/ifCond}}
            {{/with}}
        </ul>
    </nav>
    {{/ifCond}}
    <div class="container-fluid">
        <div class="qld__banner__wrapper">
            
            <div class="qld__banner__main row">

                <!--@@ Hero image @@-->
                <div class="qld__banner__hero col-xs-12  
                {{#ifCond metadata.hero_image_responsive_treatment.value '==' 'scale'}}qld__banner__hero--scale col-md-6 col-lg-5 col-xl-4{{/ifCond}}
                {{#ifCond metadata.hero_image_responsive_treatment.value '==' 'crop'}}
                    {{#ifCond metadata.hero_image_alignment.value '==' 'grid'}}col-md-6 col-lg-5{{else}}col-md-7 col-lg-5 col-xl-4{{/ifCond}}
                {{/ifCond}}">
                    {{#if metadata.hero_image.value}}
                    <div class="qld__banner__image {{#if metadata.background_image_sm.value}}qld__banner__image--mobile-hide{{/if}}" style="background-image: url('./?a={{metadata.hero_image.value}}');"></div>
                    {{/if}}
                    {{#if metadata.background_image_sm.value}}
                    <div class="qld__banner__image qld__banner__image--desktop-hide" style="background-image: url('./?a={{metadata.background_image_sm.value}}');"></div>
                    {{/if}}
                </div>
                
                <div class="qld__banner__content col-xs-12 {{#if metadata.hero_image.value}}col-md-6 col-lg-7{{else}}col-md-8 col-lg-8{{/if}}">
        
                    <!--@@ Breadcrumbs - Desktop @@-->
                    {{#ifCond metadata.breadcrumbs_display.value '==' 'yes'}}
                        <nav class="qld__breadcrumbs 
                        {{#ifCond metadata.background_colour.value '==' 'dark'}}qld__breadcrumbs--dark{{/ifCond}} 
                        {{#ifCond metadata.background_colour.value '==' 'dark-alternate'}}qld__breadcrumbs--dark{{/ifCond}} 
                        qld__banner__breadcrumbs qld__banner__breadcrumbs--desktop" aria-label="breadcrumb">
                            <ul class="qld__link-list qld__link-list--inline">
                                {{#each ../current.lineage}}  
                                {{#ifCond asset_type_code '!=' 'folder'}}       
                                    <li {{#if @last}}aria-current="page"{{/if}}>
                                        {{#if @last}}
                                            {{renderSpecialChar asset_short_name}}
                                        {{else}}
                                        <a href="{{asset_url}}">{{#if @first}}Home{{else}}{{renderSpecialChar asset_short_name}}{{/if}}</a>   
                                        {{/if}}
                                    </li>
                                {{/ifCond}}
                                {{/each}}
                            </ul>
                        </nav>
                    {{/ifCond}}

                    <!--@@ Heading(s) @@-->
                    <h1>{{metadata.heading_primary.value}}</h1>

                    <!--@@ Abstract @@-->
                    {{#if metadata.abstract.value}}
                        <div class="qld__banner__content--body qld__abstract">{{{metadata.abstract.value}}}</div>
                    {{/if}}
                    
                </div>
            </div>
        </div>
    </div>
</section>

{{/with}}