{{#with component.data}}
<section class="qld__body qld__body--full-width {{metadata.body_background.value}}" id="{{#if metadata.id_field.value}}{{metadata.id_field.value}}{{else}}multi-column-{{assetid}}{{/if}}">

    <div class="container-fluid">

        {{#if metadata.intro_show.value}}
        <div class="row">

            <div class="col-xs-12 {{metadata.intro_width.value}}" >

                {{#if metadata.intro_heading.value}}
                <h2>{{metadata.intro_heading.value}}</h2>
                {{/if}}

                {{#if metadata.intro_body.value}}
                {{{metadata.intro_body.value}}}
                {{/if}}
            </div>

        </div>
        {{/if}}

            {{#ifCond metadata.row_num.value '>=' 1}}
            <div class="row row--heading-paragraph-columns">

                {{#if metadata.col_1_1.value}}
                <div class="col-xs-12 {{columnWidth 1 metadata}}">
                    {{{metadata.col_1_1.value}}}
                </div>
                {{/if}}

                {{#if metadata.col_1_2.value}}
                <div class="col-xs-12 {{columnWidth 2 metadata}}">
                    {{{metadata.col_1_2.value}}}
                </div>
                {{/if}}

                {{#if metadata.col_1_3.value}}
                <div class="col-xs-12 {{columnWidth 3 metadata}}">
                    {{{metadata.col_1_3.value}}}
                </div>
                {{/if}}

                {{#if metadata.col_1_4.value}}
                <div class="col-xs-12 {{columnWidth 4 metadata}}">
                    {{{metadata.col_1_4.value}}}
                </div>
                {{/if}}

            </div>
            {{/ifCond}}

            {{#ifCond metadata.row_num.value '>=' 2}}
            <div class="row row--heading-paragraph-columns">

                {{#if metadata.col_2_1.value}}
                <div class="col-xs-12 {{columnWidth 1 metadata}}">
                    {{{metadata.col_2_1.value}}}
                </div>
                {{/if}}

                {{#if metadata.col_2_2.value}}
                <div class="col-xs-12 {{columnWidth 2 metadata}}">
                    {{{metadata.col_2_2.value}}}
                </div>
                {{/if}}

                {{#if metadata.col_2_3.value}}
                <div class="col-xs-12 {{columnWidth 3 metadata}}">
                    {{{metadata.col_2_3.value}}}
                </div>
                {{/if}}

                {{#if metadata.col_2_4.value}}
                <div class="col-xs-12 {{columnWidth 4 metadata}}">
                    {{{metadata.col_2_4.value}}}
                </div>
                {{/if}}

            </div>
            {{/ifCond}}

            {{#ifCond metadata.row_num.value '>=' 3}}
            <div class="row row--heading-paragraph-columns">

                {{#if metadata.col_3_1.value}}
                <div class="col-xs-12 {{columnWidth 1 metadata}}">
                    {{{metadata.col_3_1.value}}}
                </div>
                {{/if}}

                {{#if metadata.col_3_2.value}}
                <div class="col-xs-12 {{columnWidth 2 metadata}}">
                    {{{metadata.col_3_2.value}}}
                </div>
                {{/if}}

                {{#if metadata.col_3_3.value}}
                <div class="col-xs-12 {{columnWidth 3 metadata}}">
                    {{{metadata.col_3_3.value}}}
                </div>
                {{/if}}

                {{#if metadata.col_3_4.value}}
                <div class="col-xs-12 {{columnWidth 4 metadata}}">
                    {{{metadata.col_3_4.value}}}
                </div>
                {{/if}}

            </div>
            {{/ifCond}}

            {{#ifCond metadata.row_num.value '>=' 4}}
            <div class="row row--heading-paragraph-columns">

                {{#if metadata.col_4_1.value}}
                <div class="col-xs-12 {{columnWidth 1 metadata}}">
                    {{{metadata.col_4_1.value}}}
                </div>
                {{/if}}

                {{#if metadata.col_4_2.value}}
                <div class="col-xs-12 {{columnWidth 2 metadata}}">
                    {{{metadata.col_4_2.value}}}
                </div>
                {{/if}}

                {{#if metadata.col_4_3.value}}
                <div class="col-xs-12 {{columnWidth 3 metadata}}">
                    {{{metadata.col_4_3.value}}}
                </div>
                {{/if}}

                {{#if metadata.col_4_4.value}}
                <div class="col-xs-12 {{columnWidth 4 metadata}}">
                    {{{metadata.col_4_4.value}}}
                </div>
                {{/if}}

            </div>
            {{/ifCond}}

            {{#ifCond metadata.row_num.value '>=' 5}}
            <div class="row row--heading-paragraph-columns">

                {{#if metadata.col_5_1.value}}
                <div class="col-xs-12 {{columnWidth 1 metadata}}">
                    {{{metadata.col_5_1.value}}}
                </div>
                {{/if}}

                {{#if metadata.col_5_2.value}}
                <div class="col-xs-12 {{columnWidth 2 metadata}}">
                    {{{metadata.col_5_2.value}}}
                </div>
                {{/if}}

                {{#if metadata.col_5_3.value}}
                <div class="col-xs-12 {{columnWidth 3 metadata}}">
                    {{{metadata.col_5_3.value}}}
                </div>
                {{/if}}

                {{#if metadata.col_5_4.value}}
                <div class="col-xs-12 {{columnWidth 4 metadata}}">
                    {{{metadata.col_5_4.value}}}
                </div>
                {{/if}}

            </div>
            {{/ifCond}}

            {{#ifCond metadata.row_num.value '>=' 6}}
            <div class="row row--heading-paragraph-columns">

                {{#if metadata.col_6_1.value}}
                <div class="col-xs-12 {{columnWidth 1 metadata}}">
                    {{{metadata.col_6_1.value}}}
                </div>
                {{/if}}

                {{#if metadata.col_6_2.value}}
                <div class="col-xs-12 {{columnWidth 2 metadata}}">
                    {{{metadata.col_6_2.value}}}
                </div>
                {{/if}}

                {{#if metadata.col_6_3.value}}
                <div class="col-xs-12 {{columnWidth 3 metadata}}">
                    {{{metadata.col_6_3.value}}}
                </div>
                {{/if}}

                {{#if metadata.col_6_4.value}}
                <div class="col-xs-12 {{columnWidth 4 metadata}}">
                    {{{metadata.col_6_4.value}}}
                </div>
                {{/if}}

            </div>
            {{/ifCond}}

            {{#ifCond metadata.row_num.value '>=' 7}}
            <div class="row row--heading-paragraph-columns">

                {{#if metadata.col_7_1.value}}
                <div class="col-xs-12 {{columnWidth 1 metadata}}">
                    {{{metadata.col_7_1.value}}}
                </div>
                {{/if}}

                {{#if metadata.col_7_2.value}}
                <div class="col-xs-12 {{columnWidth 2 metadata}}">
                    {{{metadata.col_7_2.value}}}
                </div>
                {{/if}}

                {{#if metadata.col_7_3.value}}
                <div class="col-xs-12 {{columnWidth 3 metadata}}">
                    {{{metadata.col_7_3.value}}}
                </div>
                {{/if}}

                {{#if metadata.col_7_4.value}}
                <div class="col-xs-12 {{columnWidth 4 metadata}}">
                    {{{metadata.col_7_4.value}}}
                </div>
                {{/if}}

            </div>
            {{/ifCond}}

            {{#ifCond metadata.row_num.value '>=' 8}}
            <div class="row row--heading-paragraph-columns">

                {{#if metadata.col_8_1.value}}
                <div class="col-xs-12 {{columnWidth 1 metadata}}">
                    {{{metadata.col_8_1.value}}}
                </div>
                {{/if}}

                {{#if metadata.col_8_2.value}}
                <div class="col-xs-12 {{columnWidth 2 metadata}}">
                    {{{metadata.col_8_2.value}}}
                </div>
                {{/if}}

                {{#if metadata.col_8_3.value}}
                <div class="col-xs-12 {{columnWidth 3 metadata}}">
                    {{{metadata.col_8_3.value}}}
                </div>
                {{/if}}

                {{#if metadata.col_8_4.value}}
                <div class="col-xs-12 {{columnWidth 4 metadata}}">
                    {{{metadata.col_8_4.value}}}
                </div>
                {{/if}}

            </div>
            {{/ifCond}}

            {{#ifCond metadata.row_num.value '>=' 9}}
            <div class="row row--heading-paragraph-columns">

                {{#if metadata.col_9_1.value}}
                <div class="col-xs-12 {{columnWidth 1 metadata}}">
                    {{{metadata.col_9_1.value}}}
                </div>
                {{/if}}

                {{#if metadata.col_9_2.value}}
                <div class="col-xs-12 {{columnWidth 2 metadata}}">
                    {{{metadata.col_9_2.value}}}
                </div>
                {{/if}}

                {{#if metadata.col_9_3.value}}
                <div class="col-xs-12 {{columnWidth 3 metadata}}">
                    {{{metadata.col_9_3.value}}}
                </div>
                {{/if}}

                {{#if metadata.col_9_4.value}}
                <div class="col-xs-12 {{columnWidth 4 metadata}}">
                    {{{metadata.col_9_4.value}}}
                </div>
                {{/if}}

            </div>
            {{/ifCond}}

            {{#ifCond metadata.row_num.value '>=' 10}}
            <div class="row row--heading-paragraph-columns">

                {{#if metadata.col_10_1.value}}
                <div class="col-xs-12 {{columnWidth 1 metadata}}">
                    {{{metadata.col_10_1.value}}}
                </div>
                {{/if}}

                {{#if metadata.col_10_2.value}}
                <div class="col-xs-12 {{columnWidth 2 metadata}}">
                    {{{metadata.col_10_2.value}}}
                </div>
                {{/if}}

                {{#if metadata.col_10_3.value}}
                <div class="col-xs-12 {{columnWidth 3 metadata}}">
                    {{{metadata.col_10_3.value}}}
                </div>
                {{/if}}

                {{#if metadata.col_10_4.value}}
                <div class="col-xs-12 {{columnWidth 4 metadata}}">
                    {{{metadata.col_10_4.value}}}
                </div>
                {{/if}}

            </div>
            {{/ifCond}}

    </div>

</section>
{{/with}}