{{!-- https://www.health.qld.gov.au/__data/assets/image/0033/1168368/varieties/800-lg.png --}}

{{#with component.data}}
    {{#ifCond metadata.title.value "||" metadata.abstract.value}}
        {{#if metadata.promo_image.value}}
        <section class="qld__body {{metadata.type.value}} qld__promo-panel {{metadata.body_background.value}} {{metadata.image_alignment.value}}" id="{{#if metadata.id_field.value}}{{{metadata.id_field.value}}}{{else}}promo-panel-{{assetid}}{{/if}}">
            <div class="container-fluid">
                <div class="qld__promo-panel__container row" {{#ifCond metadata.type.value '==' 'qld__body--full-image'}}style="background-image: url(./?a={{metadata.promo_image.value}}); background-repeat: no-repeat; background-size: cover;"{{/ifCond}}>
                    <div class="qld__promo-panel__container-image">
                        <div class="qld__promo-panel__image" {{#ifCond metadata.type.value '==' 'qld__body--full-image'}}style="background: transparent"{{else}}style="background-image: url(./?a={{metadata.promo_image.value}})"{{/ifCond}}></div>
                    </div>
                    <div class="qld__promo-panel__container-content">
                        <div class="qld__promo-panel__container-inner">
                            {{#if metadata.icon.value}}
                            <div class="qld__promo-panel__container-icon">
                                <i class="qld__promo-panel__icon {{metadata.icon.value}}"></i>
                            </div>
                            {{/if}}
                            {{#if metadata.title.value}}
                            <h2 class="qld__display-xl">{{metadata.title.value}}</h2>
                            {{/if}}
                            {{#if metadata.abstract.value}}
                            <div class="qld__abstract">
                                {{{metadata.abstract.value}}}
                            </div>
                            {{/if}}
                            {{#if metadata.body.value}}

                                {{{metadata.body.value}}}
                            {{/if}}
                            {{#ifCond metadata.link_type.value '==' 'cta'}}
                                <div>
                                {{#if metadata.cta_link.value}}
                                    <a class="qld__cta-link" href="./?a={{metadata.cta_link.value}}">{{metadata.cta_link_title.value}}</a>
                                {{/if}}
                                </div>
                            {{/ifCond}}
                            {{#ifCond metadata.link_type.value '==' 'button'}}
                                {{#ifAny metadata.primary_link_title.value metadata.secondary_link_title.value}}
                                <ul class="qld__promo-panel__container-btn qld__banner__content--cta qld__link-list">
                                
                                    {{#if metadata.primary_link_title.value}}
                                        <li>
                                        <a class="qld__promo-panel__btn qld__btn qld__btn--primary" data-type="class" href="./?a={{metadata.primary_link.value}}" >{{metadata.primary_link_title.value}}</a>
                                        </li>
                                        
                                    {{/if}}

                                    {{#if metadata.secondary_link_title.value}}
                                    <li>
                                        <a class="qld__promo-panel__btn qld__btn qld__btn--secondary" data-type="class" href="./?a={{metadata.secondary_link.value}}" >{{metadata.secondary_link_title.value}}</a>
                                    </li>
                                        
                                    {{/if}}
                                </ul>
                                {{/ifAny}}
                            {{/ifCond}}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {{else}}
        <section class="qld_body container-fluid qld__body qld__body--full-width qld__promo-panel qld__promo-panel--no-image {{metadata.body_background.value}}">
            <div>
                <div class="row qld__promo-panel__row">
                    <div class="col-xs-12">
                        <div class="qld__promo-panel__container-inner">
                            {{#if metadata.title.value}}
                            <h2 class="qld__display-xl">{{metadata.title.value}}</h2>
                            {{/if}}
                            {{#if metadata.abstract.value}}
                            <div class="qld__abstract">
                                {{{metadata.abstract.value}}}
                            </div>
                            {{/if}}
                            {{#if metadata.body.value}}
                                {{{metadata.body.value}}}
                            {{/if}}
                            {{#ifCond metadata.link_type.value '==' 'cta'}}
                                <div>
                                {{#if metadata.cta_link.value}}
                                    <a class="qld__cta-link" href="./?a={{metadata.cta_link.value}}">{{metadata.cta_link_title.value}}</a>
                                {{/if}}
                                </div>
                            {{/ifCond}}
                            {{#ifCond metadata.link_type.value '==' 'button'}}
                                {{#if metadata.primary_link.value}}
                                    <a class="qld__promo-panel__btn qld__btn" href="./?a={{metadata.primary_link.value}}">{{metadata.primary_link_title.value}}</a>
                                {{/if}}
                                {{#if metadata.secondary_link.value}}
                                    <a class="qld__promo-panel__btn qld__btn qld__btn--secondary" href="./?a={{metadata.secondary_link.value}}">{{metadata.secondary_link_title.value}}</a>
                                {{/if}}
                            {{/ifCond}}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {{/if}}
    {{/ifCond}}
{{/with}}