
{{#if datastore.services}}
{{#with datastore}}
    <section class="qld__banner qld__banner__basic qld__banner--breadcrumbs 
                {{#ifCond @root.site.metadata.sfBannerBackground.value '==' 'colour'}}qld__banner--{{@root.site.metadata.defaultServiceFinderBannerColour.value}}
                {{else}}{{#if @root.site.metadata.defaultBannerTextureDark.value}} qld__banner--dark{{/if}}
                {{/ifCond}}" 
                {{#ifCond @root.site.metadata.sfBannerBackground.value '==' 'texture'}}
                {{#if @root.site.metadata.defaultBannerTexture.value}}style="background-image: url(./?a={{@root.site.metadata.defaultBannerTexture.value}});"
                {{else if @root.site.metadata.defaultBannerTextureDark.value}}style="background-image: url(./?a={{@root.site.metadata.defaultBannerTextureDark.value}});"{{/if}}
                {{/ifCond}}>
        <!--@@ Breadcrumbs - Mobile @@-->
        <nav class="qld__breadcrumbs 
                    {{#ifCond site.metadata.defaultBannerColour.value '==' 'dark'}}qld__breadcrumbs--dark{{/ifCond}} 
                    {{#ifCond site.metadata.defaultBannerColour.value '==' 'dark-alternate'}}qld__breadcrumbs--dark{{/ifCond}} 
                    {{#ifCond @root.site.metadata.sfBannerBackground.value '==' 'texture'}}{{#if @root.site.metadata.defaultBannerTextureDark.value}}qld__breadcrumbs--dark{{/if}}{{/ifCond}} qld__banner__breadcrumbs qld__banner__breadcrumbs--mobile" aria-label="breadcrumb">
            <ul class="qld__link-list qld__link-list--inline">
                <li>
                    <a href="{{@root.links.home}}">
                        Back to Service Finder
                    </a>    
                </li>
            </ul>
        </nav>
        <div class="container-fluid">
            <div class="qld__banner__wrapper">
                
                <div class="qld__banner__main row">
                    
                    <div class="qld__banner__content col-xs-12">
            
                        <!--@@ Breadcrumbs - Desktop @@-->
                            <nav class="qld__breadcrumbs qld__breadcrumbs--{{@root.site.metadata.defaultServiceFinderBannerColour.value}} qld__banner__breadcrumbs qld__banner__breadcrumbs--desktop" aria-label="breadcrumb">
                                <ul class="qld__link-list qld__link-list--inline">
                                    <li>
                                        <a href="{{@root.current.lineage.0.asset_url}}">Home</a>    
                                    </li>
                                    <li>
                                        <a href="{{@root.links.home}}">Health services</a>    
                                    </li>
                                    <li>
                                        Heath services A - Z
                                    </li>
                                </ul>
                            </nav>

                        <!--@@ Heading @@-->
                        <h1>Heath services A - Z</h1>

                        <!--@@ Abstract @@-->
                        
                        <div class="qld__banner__content--body qld__abstract">Find a Queensland Health facility</div>
                        

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="qld__body">
        <div class="container-fluid">
            <div class="qld__services_a-z">
                <ul class="qld__services_a-z__options">
                    {{#listAZOptions services}}{{/listAZOptions}}
                </ul>
                <ul class="qld__services_a-z__list">
                    {{#listAZ services @root.links.servicesHome}}{{/listAZ}}
                </ul>
            </div>
        </div>
    </section>
{{/with}}
{{/if}}