<section
  id="{{#if component.data.metadata.id_field.value}}{{ component.data.metadata.id_field.value }}{{else}}body-{{ component.data.assetid }}{{/if}}"
  class="
    qld__body
    {{
    component.data.metadata.background.value
    }}
    {{
    component.data.metadata.body_width.value
    }}
  "
>
  <div class="container-fluid">{{{ content }}}</div>
</section>
