<div class="qld__side-nav qld__accordion">
    <button class="qld__side-nav__toggle qld__accordion__title qld__accordion--closed" aria-controls="nav-default" aria-expanded="false" aria-selected="false" >
    In {{{current.top.asset_name}}}
        <svg class="accordion-svg" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"><use href="{{@root.site.metadata.coreSiteIcons.value}}#chevron-up"></use></svg>
    </button>
    <nav aria-label="side navigation" id="nav-default" class="qld__side-nav__content qld__accordion--closed qld__accordion__body"> 
        <h2 class="qld__sidenav__title">
            <a class="qld__sidenav__link" href="{{current.top.asset_url}}">{{{current.top.asset_name}}}</a>
        </h2>
        <ul class="qld__link-list">
        {{#each current.children}}
            {{#ifCond asset_assetid '!=' @root.current.data.assetid}}
            <li>
                <a class="qld__sidenav__link" href="{{asset_url}}">{{{asset_short_name}}}</a>
            {{/ifCond}}
            {{#ifCond asset_assetid '==' @root.current.data.assetid}}
            <li class="active" aria-current="page">
                <span>{{{asset_short_name}}}</span>
            {{/ifCond}}
            {{#inArray @root.current.lineage 'asset_assetid' asset_assetid}}
                {{#if children}}
                    <ul class="qld__link-list">
                    {{#each children}}
                        {{#ifCond asset_assetid '!=' @root.current.data.assetid}}
                        <li>
                            <a class="qld__sidenav__link" href="{{asset_url}}">{{{asset_short_name}}}</a>
                        {{/ifCond}}
                        {{#ifCond asset_assetid '==' @root.current.data.assetid}}
                        <li class="active" aria-current="page">
                            <span>{{{asset_short_name}}}</span>
                        {{/ifCond}}
                        {{#inArray @root.current.lineage 'asset_assetid' asset_assetid}}
                            {{#if children}}
                                <ul class="qld__link-list">
                                {{#each children}}
                                    {{#ifCond asset_assetid '!=' @root.current.data.assetid}}
                                    <li>
                                        <a class="qld__sidenav__link" href="{{asset_url}}">{{{asset_short_name}}}</a>
                                    {{/ifCond}}
                                    {{#ifCond asset_assetid '==' @root.current.data.assetid}}
                                    <li class="active" aria-current="page">
                                        <span>{{{asset_short_name}}}</span>
                                    {{/ifCond}}
                                    </li>    
                                {{/each}}
                                </ul>  
                            {{/if}}
                        {{/inArray}}
                        </li>
                    {{/each}}
                    </ul>  
                {{/if}}
            {{/inArray}}
             </li>
        {{/each}}
        </ul>
    </nav>
</div>