{{#with component.data}}
<section class="qld__body" id="{{#if metadata.id_field.value}}{{metadata.id_field.value}}{{else}}horizontal-rule-{{assetid}}{{/if}}">
<hr class="qld__horizontal-rule {{metadata.colour.value}} {{metadata.theme.value}}" style="height:{{metadata.height.value}};margin-top:{{metadata.margin_top.value}};margin-bottom:{{metadata.margin_top.value}};
" aria-hidden="true">
</section>
{{/with}}